<div class="dropdown">
  <select
    class="dropdown__select"
    onchange={{action "selectIframe" value="target.value"}}
  >
    {{#each model as |iframe|}}
      <option value={{iframe.val}}>{{iframe.name}}</option>
    {{/each}}
  </select>
  {{svg-jar "dropdown-arrow" class="dropdown__arrow"}}
</div>
