<div style={{labelStyle}}>
  <span
    title={{route.value.name}}
    class={{concat
      "js-route-name"
      (if isCurrent " pill pill--bold pill--blue pill--text")
    }}
  >
    {{route.value.name}}
  </span>
</div>