<div style={{this.labelStyle}}>
  <span
    title={{@route.value.name}}
    class={{concat
      "js-route-name"
      (if this.isCurrent " pill pill--bold pill--blue pill--text")
    }}
  >
    {{@route.value.name}}
  </span>
</div>
