<div class="warning">
  {{svg-jar "warning" class="warning__icon" width="18px" height="18px"}}
  <p class="warning__text">
    {{yield}}
  </p>
  <button class="warning__close" {{on "click" @close}}>
    hide
  </button>
</div>
