<div class="warning">
    <img class="warning__image" src="assets/images/warning.png" alt="warning icon">
    <p class="warning__text">Render times may be inaccurate due to instrumentation and environment</p>
    <button class="warning__close" {{action close}}> hide </button>
</div>
