{{#if schema.columns.length}}
  <div class="list__header">
    <div class="list__table-container">
      <table>
        <colgroup>
          {{#each columns key="id" as |column|}}
            <col style={{build-style width=(concat column.width 'px')}}>
          {{/each}}
        </colgroup>
        <tbody>
        <tr class="list__row">
          {{#each columns key="id" as |column|}}
            {{#x-list-cell
              tagName="th"
              class="js-header-column"}}
              {{column.name}}
            {{/x-list-cell}}
          {{/each}}
        </tr>
        </tbody>
      </table>
    </div>
  </div>
{{/if}}

{{#x-list-content headerHeight=headerHeight columns=columns as |content|}}
  {{yield
    (hash
      cell=(component "x-list-cell" tagName="td")
      rowEvents=content.rowEvents
      vertical-collection=(component "vertical-collection"
        estimateHeight=30
        containerSelector=".js-list-content"
        tagName="tbody")
    )
  }}
{{/x-list-content}}

{{#each columns key="id" as |column|}}
  {{#unless (or (not column.visible) (eq column columns.lastObject))}}
    {{drag-handle
      faded=true
      left=column.left
      minWidth=minWidth
      maxWidth=column.maxWidth
      on-drag=(action "didResize" column.id)
      position=(one-way column.width)
      setIsDragging=setIsDragging
      side="left"}}
  {{/unless}}
{{/each}}
