/**
 APP
 ===
 The layout of the entire
 application.
*/

.app {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
}

.app__nav-holder {
  width: 180px;
  background: #d6dde5;
}

body.inactive .app__nav-holder {
  background: #e8e8e8;
}

.app__main {
  -webkit-flex: 1;
  height: 100%;
  overflow: auto;
  border-left: solid 1px #828282;
}

.app__right-col {
  width: 500px;
  height: 100%;
  overflow: auto;
}
