h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", "arial";
  color: #333;
}

body, div, nav {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}
