.filter-bar {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 22px;
  /*background: linear-gradient(to bottom, #ebebeb, #dadada);*/
  background-color: #efefef;
  border-top: solid 1px #cacaca;
  align-items: center;
}

.filter-bar__search {
  position: relative;
  margin-right: 10px;
  height: 20px;
}

.filter-bar__search:after {
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  content: ' ';
  width: 1px;
  background-color: #cacaca;
}

.filter-bar__search input {
  height: 100%;
}

.filter-bar__radio {
  position: relative;
  height: 15px;
  box-sizing: border-box;
  padding: 3px 5px;
  margin: 0px 5px;
  display: -webkit-flex;
  align-items: center;
  border-radius: 5px;
  cursor: default;
  font-size: 12px;
}

.filter-bar__radio:active,
.filter-bar__radio:hover,
.filter-bar__radio_selected {
  color: white;
  text-shadow: 1px 1px 0 #676767;
}

.filter-bar__radio:active {
  background-color: #3d3d3d;
}

.filter-bar__radio:hover {
  background-color: #C0C0C0;
}

.filter-bar__radio_selected {
  background-color: #A7A7A7;
}


.filter-bar__radio_separate {
  margin-right: 10px;
}

.filter-bar__radio_separate:after {
  position: absolute;
  right: -10px;
  top: 0;
  height: 100%;
  content: ' ';
  width: 1px;
  background-color: #8f8f8f;
}
