
 .list-view {
  position: relative;
  font-size: 11px;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 700px;
  background: white
}

.list-view__header {
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-bottom: 1px solid #b3b3b3;
}


.list-view.list-view_compact {
  min-width: 0;
}
