/**
 MAIN-NAV
 ========
 The application's main nav
*/


.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.main-nav__item {
  display: block;
  margin-top: 2px;
}

.main-nav__item > a {
  position: relative;
  text-decoration: none;
  display: block;
  height: 33px;
  padding-left: 40px;
  color: #333;
  font-size: 12px;
  line-height: 33px;
  cursor: default;
}

.main-nav__item > a:focus {
  outline: none;
}

.main-nav__item > a.active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.35);
  background: #3879D9;
}


.main-nav__item > a polygon,
.main-nav__item > a path,
.main-nav__item > a rect,
.main-nav__item > a circle {
  fill: #222;
}

.main-nav__item > a.active polygon,
.main-nav__item > a.active path,
.main-nav__item > a.active rect,
.main-nav__item > a.active circle {
  fill: #fff;
}

.main-nav__item svg {
  position: absolute;
  top: 50%;
  left: 14px;
  margin-top: -10px;
}

/* Modifier: state = inactive */
.main-nav_state_inactive .main-nav__item > a.active {
  background: #b4b4b4;
}

.nav h3 {
  margin: 0;
  padding: 3px 5px;
  flex: 0 0 19px;
  color: #6e6e6e;
  text-transform: uppercase;
  text-shadow: rgba(255, 255, 255, 0.75) 0 1px 0;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
  height: 18px;
  line-height: 15px;
  margin-top: 1px;
  padding: 2px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
}

.nav a:focus {
  outline: none;
}

.nav a.active {
  background-color: #3879D9;
  color: #FFF;
}

.app_state_inactive .nav a.active {
  background: #b4b4b4;
}
