/**
 MAIN-NAV
 ========
 The application's main nav
*/


.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: block;
}

.main-nav__item > a {
  position: relative;
  text-decoration: none;
  display: block;
  height: 33px;
  padding-left: 40px;
  color: #333;
  font-size: 12px;
  line-height: 33px;
}

.main-nav__item > a.active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.35);
  background: linear-gradient(to bottom, #5a91d4, #1654aa);
  box-shadow: inset 0 1px 0 #4480c8;
}

body.inactive .main-nav__item > a.active {
  background: linear-gradient(to bottom, #b3b3b3, #8a8a8a);
  box-shadow: inset 0 1px 0 #979797;
}

.main-nav__item > a polygon,
.main-nav__item > a path {
  fill: #222;
}

.main-nav__item > a.active polygon,
.main-nav__item > a.active path {
  fill: #fff;
}

.main-nav__item svg {
  position: absolute;
  top: 50%;
  left: 14px;
  margin-top: -10px;
}
