/**
 TABLE-TREE
 ==========
 Displays a tree in a table.
 Used for route tree.
*/

.table-tree {
  font-size: 13px;
}

.table-tree table {
  min-width: 100%;
}

.table-tree thead {
  text-align: left;
}

.table-tree th {
  font-weight: normal;
}

.table-tree th, .table-tree td {
  padding: 5px 0px 5px 5px;
}

.table-tree td {
  white-space: nowrap;
  opacity: 0.5;
}

.table-tree td.table-tree__main-cell {
  opacity: 1;
  font-weight: bold;
}

.table-tree__main-cell_state_current {
  color: #999;
}

.table-tree tbody tr:hover {
  background-color: #e6e6e6;
}

.table-tree tbody tr:hover td {
  opacity: 1;
}


.table-tree tbody tr:hover .table-tree__clickable {
  color: #939;
  cursor: pointer;
}

.table-tree__minor {
  font-size: 12px;
}
