/**
 TABLE-TREE
 ==========
 Displays a tree in a table.
 Used for route tree.
*/

.table-tree {
  font-size: 11px;
}

.table-tree table {
  min-width: 100%;
}

.table-tree thead {
  text-align: left;
}

.table-tree th,
.table-tree td {
  border-right: 1px solid #b3b3b3;
}

.table-tree th {
  height: 28px;
  border-bottom: 1px solid #a3a3a3;
  padding-left: 5px;
  font-weight: normal;
  background: linear-gradient(to bottom, #ebebeb, #dadada);
}

.table-tree td {
  white-space: nowrap;
  opacity: 0.5;
  padding: 8px 0px 8px 5px;
}

.table-tree tr:nth-of-type(2n) td {
  background: #f3f3f3;
}

.table-tree td.table-tree__main-cell {
  font-weight: bold;
  opacity: 0.7;
}

.table-tree td.table-tree__main-cell_state_current {
  opacity: 1;
}

.table-tree tbody tr:hover {
  background-color: #e6e6e6;
}

.table-tree tbody tr:hover td {
  opacity: 1;
}

.table-tree tbody tr:hover .table-tree__clickable {
  color: #939;
  cursor: pointer;
}
