/**
 TABLE-TREE
 ==========
 Displays a tree in a table.
 Used for route tree.
*/

.table-tree {
  position: relative;
  padding-top: 30px;
  font-size: 11px;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  min-width: 100%;
}

.table-tree:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #a3a3a3;
  background: linear-gradient(to bottom, #ebebeb, #dadada);
  border-right: 1px solid #b3b3b3;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  content: ' ';
}

.table-tree__table-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  float: left;
  min-width: 100%;
}

.table-tree table {
  min-width: 100%;
}

.table-tree thead {
  text-align: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.table-tree td {
  border-right: 1px solid #dadada;
  white-space: nowrap;
  padding: 8px 0px 8px 5px;
}

.table-tree th {
  font-weight: normal;
  padding: 0;
  min-width: 30px;
}

.table-tree__cell {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-tree__th-inner {
  position: absolute;
  top: 0;
  width: 100%;
  line-height: 30px;
  border-left: 1px solid #b3b3b3;
  padding-left: 5px;
  margin-left: -1px;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-tree th:first-of-type .table-tree__th-inner {
  border-left: none;
}

.table-tree tr:nth-of-type(2n) td {
  background: #f3f3f3;
}

.table-tree td.table-tree__main-cell {
  font-weight: bold;
}

.table-tree td.table-tree__main-cell_state_current {
  opacity: 1;
}

.table-tree tbody tr:hover td {
  opacity: 1;
}

.table-tree tbody tr:hover .table-tree__clickable {
  cursor: pointer;
  text-decoration: underline;
}


.table-tree_color_faded .table-tree__main-cell,
.table-tree_color_faded td {
  opacity: 0.7;
}



/* MODIFIER: state = collapsed */
.table-tree_state_collapsed {
  float: none;
  overflow: hidden;
}

.table-tree_state_collapsed .table-tree__table-container {
  float: none;
}

.table-tree__row_selected td {
  color: #939;
}


/* MODIFIER: type = advanced */

.table-tree_type_advanced {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.table-tree_type_advanced  .table-tree__table-container {
  height: auto;
  -webkit-flex: 1;
  flex: 1;
}

.table-tree_type_advanced  .table-tree__filter {}

/* Firefox Tweaks */
.table-tree__table-container {
    flex: 1;
}

.table-tree__filter {
    flex: 0 1 24px;
}
