/**
 TREE
 ====
 Displays a tree.
 Used for view tree and route tree.
*/

.tree {
  font-family: Menlo, sans-serif;
  font-size: 14px;
}

.tree__node {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.tree__node-child {
  margin-top: 5px;
}

.tree__node-header {
  margin: 0;
  padding: 0;
}

.tree__node-name {
  color: #939;
  cursor: pointer;
}

.tree__node-controller {
  color: #939;
  cursor: pointer;
}

.tree__node-controller.is-pinned,
.tree__node-controller:hover,
.tree__node-name:hover {
  color: #606;
}


.tree__node-template, .tree__node-hint {
  color: #595455;
  display: none;
}

.tree__node-header:hover .tree__node-hint {
  display: inline;
}


.tree__node-details {
  font-size: 13px;
  color: #999;
}




.tree__node-details td {
  padding: 0px 5px;
  color: #666;
}


.tree__node-details .clickable {
  /*color: #4896ab;*/
  color: rgb(153, 153, 0);
  cursor: pointer;
}
