/**
 VIEW-TREE
 =========
 Displays the view hierarchy in the app
 being inspected.
*/

.view-tree {
  font-family: Menlo, sans-serif;
  font-size: 12px;
}

.view-tree__node {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.view-tree__node-child {
  margin-top: 5px;
}

.view-tree__node-controller {
  color: #939;
  cursor: pointer;
}

.view-tree__node-controller.is-pinned, .view-tree__node-controller:hover {
  color: #606;
}

.view-tree__node-controller:hover + .view-tree__node-template {
  display: inline;
}

.view-tree__node-template {
  color: #999;
  display: none;
}

.view-tree__node-header {
  margin: 0;
  padding: 0;
}
