/**
 APP
 ===
 The layout of the entire
 application.
*/

.app {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
}

.app__nav-holder {
  width: 180px;
  background: #d6dde5;
}


.app__main {
  -webkit-flex: 1;
  height: 100%;
  overflow: auto;
  border-left: solid 1px #828282;
}


.app__toggle-inspector-btn {
  cursor: pointer;
  width: 20px;
  background: #e8e8e8;

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.app__toggle-inspector-btn:hover {
  background: #d6dde5;
}

.app__right-col {
  position: relative;
  height: 100%;
  width: 0px;
  border-left: solid 1px #ccc;
  transition: width 50ms;

  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.app__inspector-container {
  -webkit-flex: 1;
  background: white;
  height: 100%;
  overflow: auto;
}


@media only all and (max-width: 1500px) {
  .app__right-col {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }
}

/* Modifier: state = inactive */
.app_state_inactive .app__nav-holder {
  background: #e8e8e8;
}

/* Modifier: inspector = expanded */
.app_inspector_expanded .app__right-col {
  width: 500px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body, input {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}



body, div, nav {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/**
 MAIN-NAV
 ========
 The application's main nav
*/


.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: block;
}

.main-nav__item > a {
  position: relative;
  text-decoration: none;
  display: block;
  height: 33px;
  padding-left: 40px;
  color: #333;
  font-size: 12px;
  line-height: 33px;
}

.main-nav__item > a.active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.35);
  background: linear-gradient(to bottom, #5a91d4, #1654aa);
  box-shadow: inset 0 1px 0 #4480c8;
}


.main-nav__item > a polygon,
.main-nav__item > a path {
  fill: #222;
}

.main-nav__item > a.active polygon,
.main-nav__item > a.active path {
  fill: #fff;
}

.main-nav__item svg {
  position: absolute;
  top: 50%;
  left: 14px;
  margin-top: -10px;
}

/* Modifier: state = inactive */
.main-nav_state_inactive .main-nav__item > a.active {
  background: linear-gradient(to bottom, #b3b3b3, #8a8a8a);
  box-shadow: inset 0 1px 0 #979797;
}

/**
 MIXIN
 =====
 A single mixin inside the object inspector
 It could be the object's own properties
 or a mixin the object extends
*/

.mixin {
  border: 1px solid #ccc;
}

.mixin__name {
  padding: 2px;
  background-color: #ddd;
  text-shadow: 0px 1px 1px #fff;
}

.mixin__name:active {
  background-color: #ccc;
}

.mixin__name {
    cursor: default;
}

  .mixin_props_no .mixin__name:before {
    opacity: 0;
  }

  .mixin.ember-mixin .mixin__name {
    color: #888;
  }

.mixin__name:before {
  content: "\25B6";
  color: #555;
  margin-right: 4px;
  font-size: 80%;
}

  .mixin_state_expanded .mixin__name:before {
    content: "\25BC";
  }

  .mixin.ember-mixin .mixin__name:before {
    color: #aaa;
  }

.mixin__properties {
  margin: 5px;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  font-family: Menlo, Monaco, monospace;
}

.mixin__property {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}

.mixin__property button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.mixin__property button img, .mixin__property span.pad {
  margin-right: 3px;
  width: 16px;
}

.mixin__property-overridden-by {
  display: none;
}

.mixin__property-name {
  color: #909;
}

.mixin__property-value {
  -webkit-flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mixin__property-value-txt {
  -webkit-flex: 1;
  border: solid 1px #ccc;
  /*border: none;*/
  box-shadow: 2px 2px 2px #888;
  /*box-shadow: none;*/
  outline: none;
}

.mixin__calc-btn_calculated {
  opacity: 0.4;
}

.mixin__send-btn {
  width: 15px;
  opacity: 0;
}


.mixin__property-value-separator {
  margin-right: 5px;
}

.mixin__property .type-function {
  color: #999;
}

.mixin__property .type-object {
  color: #999;
}

.mixin__property .type-ember-object {
  cursor: pointer;
}

.mixin__property-calculated-value {
  -webkit-flex: 1;
  color: #999;
}

.mixin__property .type-null, .mixin__property .type-boolean {
  color: #009;
}

.mixin__property .type-descriptor {
  cursor: pointer;
  color: #900;
}



.mixin__property_state_overridden {
  text-decoration: line-through;
}


.mixin__property:not(.mixin__property_state_overridden):hover {
  background-color: #ffe;
}


.mixin__property_state_overridden:hover .mixin__property-overridden-by {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  display: inline;
  text-decoration: none;
}

.mixin__property:not(.mixin__property_state_overridden):hover .mixin__send-btn {
    opacity: 1;
}

.mixin__property:not(.mixin__property_state_overridden):hover .mixin__send-btn:active {
  opacity: 0.5;
}

/**
 OBJECT-INSPECTOR
 ================
 The Object inspector
 at the far right of the screen
*/

.object-inspector {
  background-color: white;
}

.object-inspector__header, .object-inspector__trail {
  font-family: Menlo, Monaco, monospace;
  font-size: 15px;
  color: #639;
  font-weight: bold;
  text-shadow: 0px 1px 1px #fff;
  border-radius: 5px;
  margin-bottom: 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;

}


.object-inspector__trail {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-left: 77px;
  color: #669;
}

.object-inspector__back {
  font-weight: normal;
  border: none;
  background: none;
  font-size: 16px;
  height: 24px;
  display: inline;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

  .object-inspector__back_state_enabled {
    color: #009;
    border-right: 1px solid #009;
    cursor: pointer;
  }

  .object-inspector__back_state_enabled:hover {
    color: #004;
  }

  .object-inspector__back_state_enabled:active {
    color: #002;
  }

  .object-inspector__back_state_disabled {
    color: #999;
    border-right: 1px solid #999;
  }


/**
 TABLE-TREE
 ==========
 Displays a tree in a table.
 Used for route tree.
*/

.table-tree {
  font-size: 11px;
}

.table-tree table {
  min-width: 100%;
}

.table-tree thead {
  text-align: left;
}

.table-tree th,
.table-tree td {
  border-right: 1px solid #b3b3b3;
}

.table-tree th {
  height: 28px;
  border-bottom: 1px solid #a3a3a3;
  padding-left: 5px;
  font-weight: normal;
  background: linear-gradient(to bottom, #ebebeb, #dadada);
}

.table-tree td {
  white-space: nowrap;
  opacity: 0.5;
  padding: 8px 0px 8px 5px;
}

.table-tree tr:nth-of-type(2n) td {
  background: #f3f3f3;
}

.table-tree td.table-tree__main-cell {
  font-weight: bold;
  opacity: 0.7;
}

.table-tree td.table-tree__main-cell_state_current {
  opacity: 1;
}

.table-tree tbody tr:hover {
  background-color: #e6e6e6;
}

.table-tree tbody tr:hover td {
  opacity: 1;
}

.table-tree tbody tr:hover .table-tree__clickable {
  color: #939;
  cursor: pointer;
}

/**
 TREE
 ====
 Displays a tree.
 Used for view tree.
*/

.tree {
  font-family: Menlo, sans-serif;
  font-size: 14px;
}

.tree__node {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.tree__node-child {
  margin-top: 5px;
}

.tree__node-header {
  margin: 0;
  padding: 0;
}

.tree__node-name {
  color: #939;
  cursor: pointer;
}

.tree__node-controller {
  color: #939;
  cursor: pointer;
}

.tree__node-controller.is-pinned,
.tree__node-controller:hover,
.tree__node-name:hover {
  color: #606;
}


.tree__node-template, .tree__node-hint {
  color: #595455;
  display: none;
}

.tree__node-header:hover .tree__node-hint {
  display: inline;
}


.tree__node-details {
  font-size: 13px;
  color: #999;
}




.tree__node-details td {
  padding: 0px 5px;
  color: #666;
}


.tree__node-details .clickable {
  /*color: #4896ab;*/
  color: rgb(153, 153, 0);
  cursor: pointer;
}
