/**
 APP
 ===
 The layout of the entire
 application.
*/

.app {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 100%;
  position: relative;
}

.app__nav-holder {
  width: 180px;
  background: #d6dde5;
}


.app__main {
  -webkit-flex: 1;
  height: 100%;
  overflow: auto;
  border-left: solid 1px #828282;
}


.app__toggle-inspector-btn {
  cursor: pointer;
  width: 20px;
  background: #e8e8e8;
  border-left: solid 1px #ccc;

  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;
}

.app__toggle-inspector-btn:hover {
  background: #d6dde5;
}

.app__right-col {
  position: relative;
  height: 100%;
  width: 0px;
  transition: width 50ms;

  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.app__right-col-drag {
  position: absolute;
  top: 0;
  left: -3px;
  height: 100%;
  width: 7px;
  cursor: col-resize;
}

.app__inspector-container {
  -webkit-flex: 1;
  background: white;
  height: 100%;
  overflow: auto;
}


@media only all and (max-width: 1500px) {
  .app__right-col {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
  }
}

/* Modifier: state = inactive */
.app_state_inactive .app__nav-holder {
  background: #e8e8e8;
}

/* Modifier: inspector = expanded */
.app_inspector_expanded .app__inspector-container {
  border-left: 1px solid #bdbdbd;
}

.app_inspector_expanded .app__right-col {
  width: 500px;
  max-width: 60%;
  min-width: 200px;
}

/* Modifier: state = dragging */
.app_state_dragging {
  cursor: col-resize;
}

.app_state_dragging .app__toggle-inspector-btn {
  cursor: col-resize;
}

.app_state_dragging .app__right-col {
  transition: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body, input {
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}



body, div, nav {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

/**
 DRAG-HANDLE
 ===========
 The drag handle used for resizing elements
 Should be wrapped in the element with the
 desired handle dimensions
*/

.drag-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
  ERROR-PAGE
  ===========
  An error with possible reaons
  and solutions.
  For example when application
  is not detected.
*/

.data-error-page-container {
  position: relative;
  min-height: 100%;
  padding: 10px;
}

.error-page {
  padding: 10px;
  background: #ededed;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  color: #505050;
  box-sizing: border-box;
}

.error-page__content {
  position: relative;
  width: 530px;
  padding: 25px;
  box-sizing: border-box;
  background: #ffffff;
  border: solid 1px #d1d1d1;
  border-radius: 5px;
  margin: auto;
}

.error-page__content a {
  color: #f23818;
  text-decoration: none;
}

.error-page__header {
  font-weight: bold;
  font-size: 19px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: solid 1px #d1d1d1;
  position: relative;
}

.error-page__header:after {
  content: ' ';
  width: 128px;
  height: 89px;
  background: url("/images/fishy_tomster.png") left center no-repeat;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.error-page__title {
  width: 345px;
}

.error-page__reasons {
  font-size: 13px;
}

.error-page__reasons-title {
  font-weight: bold;
}

.error-page__reasons ul {
  list-style-type: disc;
}

.error-page__list {
  padding-left: 16px;
  padding-bottom: 5px;
  border-bottom: solid 1px #d1d1d1;;
}

.error-page__list li {
  padding: 2px 0;
}

.filter-bar {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  height: 22px;
  background-color: #efefef;
  border-top: solid 1px #cacaca;
  align-items: center;
}

.filter-bar__search {
  position: relative;
  margin-right: 10px;
  height: 20px;
}

.filter-bar__search:after {
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  content: ' ';
  width: 1px;
  background-color: #cacaca;
}

.filter-bar__search input {
  height: 100%;
}

.filter-bar__radio {
  font-size: 12;
  position: relative;
  cursor: default;
  display: inline-block;
  margin: 0 2px;
  padding: 2px 6px;
  line-height: 12px;
  background: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  border-radius: 8px;
  vertical-align: middle;
}

.filter-bar__radio:active,
.filter-bar__radio:hover,
.filter-bar__radio_selected {
  color: white;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
}


.filter-bar__radio:hover {
  background: rgba(0, 0, 0, 0.2);
}

.filter-bar__radio:active {
  background: rgba(0, 0, 0, 0.5);
}

.filter-bar__radio_selected {
  background: rgba(0, 0, 0, 0.3);
}


.filter-bar__radio_separate {
  margin: 0 8px 0 2px;
}

.filter-bar__radio_separate:after {
  position: absolute;
  right: -8px;
  top: 0;
  content: ' ';
  background-color: #8f8f8f;
  background-color: rgba(0, 0, 0, 0.4);
  height: 16px;
  width: 1px;
  vertical-align: middle;
  display: inline-block;
}

.filter-bar__button {
  width: 32px;
  height: 100%;
  box-sizing: border-box;
  border: none;
  box-shadow: none;
  border-right: solid 1px #8f8f8f;
}

.filter-bar__button_type_inspect {
  background: url("/images/magnifying_glass.png") center center no-repeat;
  background-size: 15px 15px;
}

.filter-bar__button:active {
  border-color: black;
}

.filter-bar__button_state_active {
  background-color: white;
}

.filter-bar__checkbox {
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  line-height: 20px;
}

/**
 MAIN-NAV
 ========
 The application's main nav
*/


.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-nav__item {
  display: block;
}

.main-nav__item > a {
  position: relative;
  text-decoration: none;
  display: block;
  height: 33px;
  padding-left: 40px;
  color: #333;
  font-size: 12px;
  line-height: 33px;
}

.main-nav__item > a.active {
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0, 0.35);
  background: linear-gradient(to bottom, #5a91d4, #1654aa);
  box-shadow: inset 0 1px 0 #4480c8;
}


.main-nav__item > a polygon,
.main-nav__item > a path {
  fill: #222;
}

.main-nav__item > a.active polygon,
.main-nav__item > a.active path {
  fill: #fff;
}

.main-nav__item svg {
  position: absolute;
  top: 50%;
  left: 14px;
  margin-top: -10px;
}

/* Modifier: state = inactive */
.main-nav_state_inactive .main-nav__item > a.active {
  background: linear-gradient(to bottom, #b3b3b3, #8a8a8a);
  box-shadow: inset 0 1px 0 #979797;
}

/**
 MIXIN
 =====
 A single mixin inside the object inspector
 It could be the object's own properties
 or a mixin the object extends
*/

.mixin {
  border-top: 1px solid #bdbdbd;
}

.mixin__name {
  padding: 2px 2px 2px 5px;
  background-color: #e6e6e6;
  text-shadow: 0px 1px 1px #fff;
  cursor: default;
}

.mixin__name:active {
  background-color: #ccc;
}

  .mixin_props_no .mixin__name:before {
    opacity: 0;
  }

  .mixin.ember-mixin .mixin__name {
    color: #888;
  }

.mixin__name:before {
  content: "\25B6";
  color: #737373;
  margin-right: 4px;
  font-size: 75%;
}

  .mixin_state_expanded .mixin__name {
    border-bottom: 1px solid #bdbdbd;
  }

  .mixin_state_expanded .mixin__name:before {
    content: "\25BC";
  }

  .mixin.ember-mixin .mixin__name:before {
    color: #aaa;
  }

.mixin__properties {
  margin: 5px;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  font-family: Menlo, Monaco, monospace;
}

.mixin__property {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}

.mixin__property button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.mixin__property button img, .mixin__property span.pad {
  margin-right: 3px;
  width: 20px;
}

.mixin__property-overridden-by {
  display: none;
}

.mixin__property-name {
  color: #909;
}

.mixin__property-value {
  -webkit-flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mixin__property-value-txt {
  -webkit-flex: 1;
  border: solid 1px #ccc;
  /*border: none;*/
  box-shadow: 2px 2px 2px #888;
  /*box-shadow: none;*/
  outline: none;
}

.mixin__calc-btn_calculated {
  opacity: 0.4;
}

.mixin__send-btn {
  width: 20px;
  opacity: 0;
}


.mixin__property-value-separator {
  margin-right: 5px;
}

.mixin__property .type-function {
  color: #999;
}

.mixin__property .type-object {
  color: #999;
}

.mixin__property .type-ember-object {
  cursor: pointer;
}

.mixin__property-calculated-value {
  -webkit-flex: 1;
  color: #999;
}

.mixin__property .type-null, .mixin__property .type-boolean {
  color: #009;
}

.mixin__property .type-descriptor {
  cursor: pointer;
  color: #900;
}



.mixin__property_state_overridden {
  text-decoration: line-through;
}


.mixin__property:not(.mixin__property_state_overridden):hover {
  background-color: #ffe;
}


.mixin__property_state_overridden:hover .mixin__property-overridden-by {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  display: inline;
  text-decoration: none;
}

.mixin__property:not(.mixin__property_state_overridden):hover .mixin__send-btn {
    opacity: 1;
}

.mixin__property:not(.mixin__property_state_overridden):hover .mixin__send-btn:active {
  opacity: 0.5;
}

/**
 OBJECT-INSPECTOR
 ================
 The Object inspector
 at the far right of the screen
*/

.object-inspector {
  background-color: white;
}

.object-inspector__header {
  position: relative;
  font-family: Menlo, Monaco, monospace;
  text-shadow: 0px 1px 1px #fff;
  padding: 10px 5px 10px 35px;
  box-sizing: border-box;
  min-height: 40px;
}

.object-inspector__header-main {
  font-size: 15px;
  color: #646464;
  font-weight: bold;
  margin-bottom: 0;
  width: 100%;
  display: -webkit-flex;
}

.object-inspector__header-trail {
  margin-top: 5px;
  word-break: break-all;
}

.object-inspector__back {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  top: 8px;
  left: 7px;
  border-radius: 11px;
  background: #ccc url('/images/back_arrow.png') 5px center no-repeat;
  border: none;
}

.object-inspector__back_state_enabled {
  cursor: pointer;
}

.object-inspector__back_state_enabled:hover {
  opacity: 1;
}

.object-inspector__back_state_enabled:active {
  opacity: 0.8;
}

.object-inspector__back_state_disabled {
  opacity: 0.4;
}

.object-inspector__name {
  -webkit-flex-basis: 0px;
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.object-inspector__send-object-btn {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 20px;
  opacity: 1;
}

.object-inspector__send-object-btn img {
  margin-right: 3px;
  width: 20px;
}

.split {
  height: 100%;
}

.split__parent {
  height: 100%;
}

.split__splitter {
  display: none;
}

.split_state_collapsed {
   display: -webkit-flex;
  -webkit-flex-direction: row;
}

.split_state_collapsed .split__parent {
  width: 150px;
}

.split_state_collapsed .split__child {
  -webkit-flex: 1;
  height: 100%;
}

/**
 TABLE-TREE
 ==========
 Displays a tree in a table.
 Used for route tree.
*/

.table-tree {
  position: relative;
  padding-top: 30px;
  font-size: 11px;
  height: 100%;
  box-sizing: border-box;
  float: left;
  min-width: 100%;
}

.table-tree:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #a3a3a3;
  background: linear-gradient(to bottom, #ebebeb, #dadada);
  border-right: 1px solid #b3b3b3;
  box-sizing: border-box;
  content: ' ';
}

.table-tree__table-container {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  float: left;
  min-width: 100%;
}

.table-tree table {
  min-width: 100%;
}

.table-tree thead {
  text-align: left;
}

.table-tree td {
  border-right: 1px solid #b3b3b3;
  white-space: nowrap;
  padding: 8px 0px 8px 5px;
}

.table-tree th {
  font-weight: normal;
  padding: 0;
  min-width: 30px;
}

.table-tree__cell {
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-tree__th-inner {
  position: absolute;
  top: 0;
  line-height: 30px;
  border-left: 1px solid #b3b3b3;
  padding-left: 5px;
  margin-left: -1px;
  z-index: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-tree th:first-of-type .table-tree__th-inner {
  border-left: none;
}

.table-tree tr:nth-of-type(2n) td {
  background: #f3f3f3;
}

.table-tree td.table-tree__main-cell {
  font-weight: bold;
}

.table-tree td.table-tree__main-cell_state_current {
  opacity: 1;
}

.table-tree tbody tr:hover {
  background-color: #e6e6e6;
}

.table-tree tbody tr:hover td {
  opacity: 1;
}

.table-tree tbody tr:hover .table-tree__clickable {
  color: #939;
  cursor: pointer;
}


.table-tree_color_faded .table-tree__main-cell,
.table-tree_color_faded td {
  opacity: 0.7;
}



/* MODIFIER: state = collapsed */
.table-tree_state_collapsed {
  float: none;
  overflow: hidden;
}

.table-tree_state_collapsed .table-tree__table-container {
  float: none;
}

.table-tree__row_selected td {
  color: #939;;
}


/* MODIFIER: type = advanced */

.table-tree_type_advanced {
  display: -webkit-flex;
  -webkit-flex-direction: column;
}

.table-tree_type_advanced  .table-tree__table-container {
  height: auto;
  -webkit-flex: 1;
}

.table-tree_type_advanced  .table-tree__filter {}

/**
 TREE
 ====
 Displays a tree.
 Used for view tree.
*/

.tree {
  font-family: Menlo, sans-serif;
  font-size: 14px;
}

.tree__node {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

.tree__node-child {
  margin-top: 5px;
}

.tree__node-header {
  margin: 0;
  padding: 0;
}

.tree__node-name {
  color: #939;
  cursor: pointer;
}

.tree__node-controller {
  color: #939;
  cursor: pointer;
}

.tree__node-controller.is-pinned,
.tree__node-controller:hover,
.tree__node-name:hover {
  color: #606;
}


.tree__node-template, .tree__node-hint {
  color: #595455;
  display: none;
}

.tree__node-header:hover .tree__node-hint {
  display: inline;
}


.tree__node-details {
  font-size: 13px;
  color: #999;
}




.tree__node-details td {
  padding: 0px 5px;
  color: #666;
}


.tree__node-details .clickable {
  /*color: #4896ab;*/
  color: rgb(153, 153, 0);
  cursor: pointer;
}
