<div class="empty-message flex flex-col items-center justify-center h-full text-center text-base11 text-4xl" ...attributes>
  {{svg-jar "ember-icon-empty" width="129px" height="129px"}}
  <div class="empty-message-content pt-4 px-6">{{yield}}</div>
</div>

