<button
  class="send-to-console"
  title="Send to Console"
  {{on "click" (fn @action @param)}}
  data-test-send-to-console-btn
>
  {{svg-jar "send-with-text" width="20px" height="10px"}}
</button>

