<button class="sidebar-toggle toolbar__icon-button {{if this.objectInspectorService.inspectorExpanded "flip"}}" {{on "click" this.objectInspectorService.toggleInspector}}>
  {{svg-jar "sidebar-toggle" width="16" height="16"}}
</button>