<div class="warning flex flex-row items-center justify-start py-1 px-2 text-base bg-spec00">
  {{svg-jar "warning" width="18px" height="18px" class="inline-block flex-shrink-0 mr-1 fill-current"}}

  <p class="flex-grow m-0 p-0">
    {{yield}}
  </p>

  <button
    class="p-0 border-0 cursor-pointer underline text-inherit bg-transparent"
    {{on "click" @close}}
    type="button"
  >
    hide
  </button>
</div>
