{
  "extends": "ember",
  "parser": "babel-eslint",
  "rules": {
    "vars-on-top": 0,
    "no-undef": 0,
    "no-shadow": 0,
    "space-infix-ops": 0,
    "dot-notation": 0,
    "no-lonely-if": 0,
    "no-unneeded-ternary": 0,
    "guard-for-in": 0,
    "wrap-iife": 0,
    "complexity": 0,
    "dot-notation": 0,
    "max-len": [2, 250],
    "no-param-reassign": 0,
    "block-scoped-var": 0,
    "no-unused-vars": 0,
    "no-ternary": 0,
    "no-else-return": 0,
    "space-in-parens": 0,
    "spaced-line-comment": 0,
    "no-undefined": 0,
    "brace-style": 0,
    "consistent-return": 0,
    "no-use-before-define": 0,
    "consistent-this": 0,
    "no-underscore-dangle": 0,
    "valid-jsdoc": 0,
    "quotes": 0,
    "one-var": 0,
    "newline-after-var": 0,
    "no-warning-comments": 0,
    "space-before-function-paren": 0
  }
}
