/**
 APP
 ===
 The layout of the entire
 application.
*/

.app {
  bottom: 0;
  display: flex;
  flex: auto;
  flex-direction: column;
  font-size: 12px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.app.is-dragging {
  cursor: col-resize;
}

@import "base";
@import "colors";
@import "utils";
@import "component_tree";
@import "deprecations";
@import "dropdown";
@import "mixin";
@import "object_inspector";
@import "route_tree";
@import "whats-new";
@import "ember-table";
