/**
 APP
 ===
 The layout of the entire
 application.
*/

.app {
  bottom: 0;
  display: flex;
  flex: auto;
  flex-direction: column;
  font-size: 12px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.app.is-dragging {
  cursor: col-resize;
}

@import "base";
@import "colors";
@import "component_tree";
@import "context_menu";
@import "drag_handle";
@import "dropdown";
@import "error_page";
@import "external_link";
@import "list";
@import "mixin";
@import "nav";
@import "notice";
@import "object_inspector";
@import "route_tree";
@import "send_to_console";
@import "sidebar_toggle";
@import "split";
@import "warning";
@import "whats-new";
@import "ember-table";
