:root {
  --pink: #909;
  --light-pink: #b96aa0;
  --green: #318409;
  --black: #000;
  --light-black: #333;
  --white: #fff;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

html, body {
  height: 100%;
}

body, input {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Cantarell', 'Oxygen', 'Ubuntu', 'Helvetica Neue', helvetica, arial, sans-serif;
  color: var(--base26);
}

body, div, nav {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

code {
  font-family: Menlo, Monaco, monospace;
}
