:root {
  --font-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Cantarell', 'Oxygen', 'Ubuntu', 'Helvetica Neue', helvetica, arial, sans-serif;
  --font-monospace: 'SF Mono', Menlo, Monaco, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body,
input {
  color: var(--base14);
  font-family: var(--font-sans-serif);
}

body,
div,
nav {
  margin: 0;
  padding: 0;
}

a {
  color: var(--inherit);
}

code {
  font-family: var(--font-monospace);
}
