.theme--light {
  --base00: #ffffff;
  --base01: #f3f3f3;
  --base03: #ededed;
  --base06: #d1d1d1;
  --base08: #cacaca;
  --base11: #b3b3b3;
  --base14: #a3a3a3;
  --base16: #888888;
  --base17: #777777;
  --base18: #737373;
  --base20: #676767;
  --base21: #555555;
  --base24: #404040;
  --base26: #333333;
  --base28: #222222;
  --base32: #d6d6d6;

  --spec00: #fffec2;
  --spec02: #ff0000;
  --spec05: #990000;
  --spec10: #000099;
  --spec11: #3F81EE;
  --spec12: #7c027c;
  --spec14: #ecf1fa;
  --spec15: #cd61a7;
  --spec16: #7fb56d;
  --spec17: #328509;
}

.theme--dark {
  --base00: #242424;
  --base01: #242424;
  --base03: #121212;
  --base06: #2E2E2E;
  --base08: #353535;
  --base11: #4C4C4C;
  --base14: #5C5C5C;
  --base16: #777777;
  --base17: #888888;
  --base18: #8C8C8C;
  --base20: #989898;
  --base21: #AAAAAA;
  --base24: #BFBFBF;
  --base26: #CCCCCC;
  --base28: #DDDDDD;
  --base32: #292929;

  --spec00: #00013D;
  --spec02: #00FFFF;
  --spec05: #66FFFF;
  --spec10: #FFFF66;
  --spec11: #C07E11;
  --spec12: #83FD83;
  --spec14: #130E05;
  --spec15: #cd61a7;
  --spec16: #7fb56d;
  --spec17: #328509;
}
