.theme--light {
  // Base
  --base00: #ffffff;
  --base01: #f3f3f3;
  --base02: #ededed;
  --base03: #d6d6d6;
  --base04: #d1d1d1;
  --base05: #cacaca;
  --base06: #b3b3b3;
  --base07: #a3a3a3;
  --base08: #888888;
  --base09: #777777;
  --base10: #737373;
  --base11: #676767;
  --base12: #555555;
  --base13: #404040;
  --base14: #333333;
  --base15: #222222;
  // Spec
  --spec00: #fffec2;
  --spec01: #ff0000;
  --spec02: #990000;
  --spec03: #000099;
  --spec04: #3F81EE;
  --spec05: #7c027c;
  --spec06: #ecf1fa;
  --spec07: #cd61a7;
  --spec08: #7fb56d;
  --spec09: #328509;
  --white: #ffffff;
  --inherit: inherit;
  --transparent: transparent;
  --focus: #3F81EE;
  --focus-text: var(--white);
  --component-text: #7c027c;
  --component-brackets-selected: rgba(255, 255, 255, 0.4);
  --pill-bg: rgba(0, 0, 0, 0.1);
  --pill-bg-active: rgba(255, 255, 255, 0.3);
}

.theme--dark {
  // Base
  --base00: #242424;
  --base01: #242424;
  --base02: #121212;
  --base03: #292929;
  --base04: #2E2E2E;
  --base05: #353535;
  --base06: #4C4C4C;
  --base07: #5C5C5C;
  --base08: #777777;
  --base09: #888888;
  --base10: #8C8C8C;
  --base11: #989898;
  --base12: #AAAAAA;
  --base13: #BFBFBF;
  --base14: #CCCCCC;
  --base15: #DDDDDD;
  // Spec
  --spec00: #00013D;
  --spec01: #00FFFF;
  --spec02: #66FFFF;
  --spec03: #FFFF66;
  --spec04: #C07E11;
  --spec05: #83FD83;
  --spec06: #130E05;
  --spec07: #cd61a7;
  --spec08: #7fb56d;
  --spec09: #328509;
  --white: #ffffff;
  --inherit: inherit;
  --transparent: transparent;
  --focus: #2270EC;
  --focus-text: var(--white);
  --component-text: #FF8BC9;
  --component-brackets-selected: rgba(255, 255, 255, 0.4);
  --pill-bg: rgba(255, 255, 255, 0.2);
  --pill-bg-active: rgba(255, 255, 255, 0.3);
}
