.component-tree-item {
  align-items: center;
  border-radius: 4px;
  color: var(--base12);
  display: flex;
  font-size: 12px;
  margin: 0 3px;
  min-height: 22px;
  position: relative;

  &:hover {
    background-color: var(--spec06);

    .component-tree-item__action {
      opacity: 1;
    }

    .component-tree-item__action.disabled {
      opacity: 0.65;
    }
  }
}

.component-tree-item__expand {
  align-self: stretch;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.component-tree-item__action {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  margin-left: 10px;
  opacity: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
  }

  polygon,
  rect,
  path {
    fill: var(--base15);
  }
}

.component-tree-item__tag {
  cursor: default;
  display: flex;
  white-space: nowrap;
}

.component-tree-item--has-instance .component-tree-item__tag {
  cursor: pointer;
}

.component-tree-item__tag .arg-token {
  display: flex;
  margin-left: 0.5rem;
}

.component-tree-item__tag .at-token {
  color: var(--spec04);
}

.component-tree-item__tag .bracket-token {
  color: var(--base07);
}

.component-tree-item__tag .key-token {
  color: var(--spec02);
}

.component-tree-item__tag .value-token {
  color: var(--spec03);
}

.component-tree-item__bracket:before {
  color: var(--base07);
  content: '<';
}

.component-tree-item__bracket:after {
  color: var(--base07);
  content: '>';
}

.component-tree-item__bracket.component-tree-item__bracket--self-closing:after {
  content: '/>';
}

.component-tree-item-classic__bracket:before {
  color: var(--base07);
  content: '{{';
}

.component-tree-item-classic__bracket:after {
  color: var(--base07);
  content: '}}';
}

/**
 * Modifier
 * highlighted - children of selected component
 */

.component-tree-item.component-tree-item--highlighted {
  background-color: var(--spec06);
  border-radius: 0;
}

/**
 * Modifier
 * selected
 */

.component-tree-item.component-tree-item--selected {
  background: var(--focus);
  color: var(--focus-text);

  &:hover {
    background: var(--focus);
  }

  .component-tree-item__bracket:before,
  .component-tree-item__bracket:after {
    color: var(--component-backets-selected);
  }

  .component-tree-item__expand,
  .component-tree-item__action {
    opacity: 1;

    polygon,
    rect,
    path {
      fill: var(--focus-text);
    }
  }

  .component-tree-item__action.disabled {
    opacity: 0.65;
  }
}

.component-tree-item--component {
  color: var(--component-text);
}
