.component-tree-item {
  align-items: center;
  border-radius: 4px;
  color: var(--base12);
  display: flex;
  font-size: 12px;
  margin: 3px 3px 0;
  min-height: 18px;
  position: relative;
}

.component-tree-item--component {
  color: var(--component-text);

  &:hover {
    background-color: var(--spec06);

    .component-tree-item__action {
      opacity: 1;
    }

    .component-tree-item__action.disabled {
      opacity: 0.65;
    }
  }
}

.component-tree-item__action {
  align-items: center;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  height: 100%;
  margin-left: 10px;
  opacity: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  &.disabled {
    cursor: not-allowed;
  }

  polygon,
  rect,
  path {
    fill: var(--base15);
  }
}

.component-tree-item__tag {
  cursor: default;
  display: flex;
}

.component-tree-item--component .component-tree-item__tag {
  cursor: pointer;
}

.component-tree-item__bracket:before {
  color: var(--base07);
  content: '{{';
}

.component-tree-item__bracket:after {
  color: var(--base07);
  content: '}}';
}

.component-tree-item__expand {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  padding: 0 2px;

  &:focus {
    outline: none;
  }

  svg {
    transition-duration: 0.1s;
    transition-property: transform;
  }

  &.collapsed svg {
    transform: rotate(-90deg);
  }
}

/**
 * Modifier
 */

.component-tree-item--selected {
  background: var(--focus);
  color: var(--focus-text);

  &:hover {
    background: var(--focus);
  }

  .component-tree-item__bracket:before,
  .component-tree-item__bracket:after {
    color: var(--component-backets-selected);
  }

  .component-tree-item__expand,
  .component-tree-item__action {
    opacity: 1;

    polygon,
    rect,
    path {
      fill: var(--focus-text);
    }
  }

  .component-tree-item__action.disabled {
    opacity: 0.65;
  }
}
