.component-tree-item {
  font-size: 18px;
  position: relative;

  .component-tag {
    cursor: pointer;
  }

  .expand-arrow {
    background-image: url(images/arrow_down.svg);
    background-size: 100%;
    opacity: 0.7;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    display: inline-block;
    cursor: pointer;
    transition-property: transform;
    transition-duration: 0.1s;

    &.collapsed {
      transform: rotate(-90deg);
    }
  }
  .component-bracket {
    color: gray;
  }

  &:hover {
    background-color: #d4e8fd;
  }
}
