.component-tree-item {
  align-items: center;
  border-radius: 4px;
  color: var(--base12);
  display: flex;
  font-size: 12px;
  margin: 0 3px;
  min-height: 22px;
  position: relative;

  &__action {
    align-items: center;
    background: transparent;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    height: 100%;
    margin-left: 10px;
    opacity: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    &.disabled {
      cursor: not-allowed;
    }

    polygon,
    rect,
    path {
      fill: var(--base15);
    }
  }

  &:hover {
    background-color: var(--base05);

    .component-tree-item__action {
      opacity: 1;
    }

    .component-tree-item__action.disabled {
      opacity: 0.65;
    }
  }
}

.component-tree-item__expand {
  align-self: stretch;
  cursor: pointer;
  padding-left: 3px;
  padding-right: 3px;
}

.component-tree-item__tag {
  cursor: default;
  display: flex;
  white-space: nowrap;

  .component-name {
    color: var(--component-name);
  }

  .arg-token {
    display: flex;
    margin-left: 0.5rem;
  }

  .bracket-token {
    color: var(--base09);
  }

  .key-token {
    color: var(--component-attr);
  }

  .value-token {
    color: var(--spec03);
  }
}

.component-tree-item--has-instance .component-tree-item__tag {
  cursor: pointer;
}

.component-tree-item--selected .component-tree-item__tag {
  .component-name,
  .bracket-token,
  .key-token,
  .value-token {
    color: var(--focus-text);
  }
}

.component-tree-item__bracket:before,
.component-tree-item__bracket:after,
.component-tree-item-classic__bracket:before,
.component-tree-item-classic__bracket:after {
  color: var(--base09);
}

.component-tree-item__bracket:before {
  content: '<';
}

.component-tree-item__bracket:after {
  content: '>';
}

.component-tree-item__bracket.component-tree-item__bracket--self-closing:after {
  content: '/>';
}

.component-tree-item-classic__bracket:before {
  content: '{{';
}

.component-tree-item-classic__bracket:after {
  content: '}}';
}

/**
 * Modifier
 * highlighted - children of selected component
 */

.component-tree-item.component-tree-item--highlighted {
  background-color: var(--component-highlighted-bg);
  border-radius: 0;
}

/**
 * Modifier
 * selected
 */

.component-tree-item.component-tree-item--selected {
  background: var(--focus);
  color: var(--focus-text);

  &:hover {
    background: var(--focus);
  }

  .component-tree-item__bracket:before,
  .component-tree-item__bracket:after {
    color: var(--component-backets-selected);
  }

  .component-tree-item__expand,
  .component-tree-item__action {
    opacity: 1;

    polygon,
    rect,
    path {
      fill: var(--focus-text);
    }
  }

  .component-tree-item__action.disabled {
    opacity: 0.65;
  }
}

.component-tree-item--component {
  color: var(--base09);
}
