.component-tree-item {
  position: relative;
  display: flex;
  min-height: 18px;
  align-items: center;
  margin: 3px 3px 0 3px;
  border-radius: 4px;
  font-size: 12px;
  color: var(--base21);

}

.component-tree-item--component {
  color: var(--spec05);

  &:hover {
    background-color: var(--spec06);

    .component-tree-item__view-element { opacity: 1; }
  }
}

.component-tree-item__view-element {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
  border: 0;
  background: transparent;

  &:focus { outline: none; }
}

.component-tree-item__tag {
  display: flex;
  cursor: default;
}
  .component-tree-item--component .component-tree-item__tag {
    cursor: pointer;
  }

.component-tree-item__bracket::before {
  content: '{{';
  color: var(--base14);
}
.component-tree-item__bracket::after {
  content: '}}';
  color: var(--base14);
}

.component-tree-item__expand {
  display: inline-block;
  border: 0;
  padding: 0 2px;
  cursor: pointer;
  background: transparent;

  &:focus { outline: none; }

  svg {
    transition-property: transform;
    transition-duration: 0.1s;
  }

  &.collapsed svg {
    transform: rotate(-90deg);
  }
}

.component-tree-item__view-element {
  display: inline-block;
  margin-left: 10px;
  opacity: 0;
  cursor: pointer;

  polygon, rect, path { fill: var(--base28); }
}


/**
 * Modifier
 */

.component-tree-item--selected {
  color: var(--base00);
  background: var(--spec04);
  &:hover { background: var(--spec04); }

  .component-tree-item__bracket::before,
  .component-tree-item__bracket::after {
    color: var(--base14);
  }

  .component-tree-item__expand,
  .component-tree-item__view-element {
    opacity: 1;
    polygon, rect, path { fill: var(--base00); }
  }
}
