/**
 * Overwrites styles for the library [contextMenu](https://github.com/s-yadav/contextMenu.js)
 */
.iw-cm-menu {
  color: var(--inherit);
}

.iw-cm-menu li {
  font-size: 14px;
  padding-left: 5px;
}
