/**
 DROP-DOWN
 =========
*/

.dropdown {
  flex: auto;
  height: 28px;
  position: relative;
}

.dropdown__select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--transparent);
  border: 0;
  box-sizing: border-box;
  color: var(--base13);
  display: block;
  font-size: 12px;
  height: 100%;
  margin: 0;
  padding: 0 16px 0 5px;
  width: 100%;
}

.dropdown__select:focus {
  outline: none;
}

.dropdown__arrow {
  opacity: 0.7;
  pointer-events: none;
  position: absolute;
  right: 5px;
  top: 9px;
  width: 6px;
}
