$blue: #174fff;
$green: #009900;
$red: #ff2717;

.ember-table {
  background: var(--base00);

  table {
    min-width: 100%;
  }

  th,
  td {
    border-right: 1px solid var(--base04);
  }

  th {
    background: var(--base00);
    border-bottom: 1px solid var(--base05);
    box-sizing: border-box;
    color: var(--inherit);
    font-weight: normal;
    line-height: 30px;
    min-height: 30px;
    opacity: 1;
    overflow: hidden;
    padding: 3px 6px;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  td {
    background: var(--base02);
  }

  td,
  .et-cell-content {
    box-sizing: border-box;
    line-height: 30px;
    min-height: 30px;
    overflow: hidden;
    padding: 3px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .striped td {
    background-color: var(--base00);
  }

  .blue {
    color: $blue;
  }

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  th.is-sortable:hover {
    background: var(--base04);
  }

  .et-sort-indicator:before {
    content: "\25be";
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1;
    transform: rotate(0);
  }

  .et-sort-indicator.is-ascending:before {
    transform: rotate(180deg);
  }

  .et-header-resize-area {
    cursor: col-resize;
    width: 12px;
  }

  &.is-resizing * {
    cursor: col-resize !important;
    user-select: none;
  }

  th.is-reorderable {
    cursor: grab;
  }

  .et-reorder-drop-indicator,
  .et-reorder-main-indicator {
    background: 0 0;
    border-left: none;
    opacity: 0.8;
    position: absolute;
    z-index: 10;
  }

  .et-reorder-main-indicator {
    border-right: none;

    th {
      background: #e9f4fc;
    }
  }

  .et-reorder-drop-indicator {
    border-right: #27618a solid 1px;
    height: 100%;
  }

  &.is-reordering * {
    cursor: grabbing !important;
    user-select: none;
  }

  td.is-first-column {
    padding: 0;
  }

  .is-link {
    cursor: pointer;
    text-decoration: underline;
  }

  .et-cell-container {
    display: flex;
  }

  .et-toggle-collapse,
  .et-toggle-select {
    align-items: center;
    display: flex;
  }

  .et-toggle-select {
    padding: 4px;
  }

  .et-toggle-collapse {
    box-sizing: content-box;
    padding: 0;
    width: 24px;
  }

  .et-depth-placeholder:not(.depth-0) {
    box-sizing: content-box;
    height: 100%;
    width: 24px;
  }

  .et-depth-indent.depth-1 {
    padding-left: 16px;
  }

  .et-cell-content {
    flex: 1;
  }

  tr.is-selectable {
    cursor: pointer;
  }

  tr.is-selected td {
    background: var(--focus);
    color: var(--focus-text);
  }

  tr.is-selectable:hover td {
    background: var(--base04);
  }

  tr.is-selected.is-selectable:hover td {
    background: var(--focus);
    color: var(--focus-text);
  }
}
