/**
  ERROR-PAGE
  ===========
  An error with possible reaons
  and solutions.
  For example when application
  is not detected.
*/

.data-error-page-container {
  position: relative;
  min-height: 100%;
  padding: 10px;
}

.error-page {
  padding: 10px;
  background: var(--base03);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  color: var(--base24);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.error-page__content {
  position: relative;
  width: 530px;
  padding: 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--base00);
  border: 1px solid var(--base06);
  border-radius: 5px;
  margin: auto;
}

.error-page__content a {
  color: var(--spec02);
  text-decoration: none;
}

.error-page__header {
  font-weight: bold;
  font-size: 19px;
  padding-top: 15px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--base06);
  position: relative;
}

.error-page__header:after {
  content: ' ';
  width: 128px;
  height: 89px;
  background: url("images/fishy_tomster.png") left center no-repeat;
  background-size: 128px 89px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.error-page__title {
  width: 345px;
}

.error-page__reasons {
  font-size: 13px;
}

.error-page__reasons-title {
  font-weight: bold;
}

.error-page__reasons ul {
  list-style-type: disc;
}

.error-page__list {
  padding-left: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--base06);
}

.error-page__list li {
  padding: 2px 0;
}
