.external-link {
  display: inline-block;
  position: relative;

  &:after {
    background-image: url('svg/external_link.svg');
    background-size: 100%;
    bottom: 10px;
    content: '';
    height: 9px;
    position: absolute;
    right: -12px;
    width: 9px;
  }
}
