/**
 MIXIN
 =====
 A single mixin inside the object inspector
 It could be the object's own properties
 or a mixin the object extends
*/

$mixin-left-padding: 22px;

.mixin__name {
  background-color: var(--base01);
  border-bottom: 1px solid var(--base03);
  color: var(--base15);
  cursor: default;
  overflow: hidden;
  padding: 4px 2px 4px $mixin-left-padding;
  position: -webkit-sticky;
  position: sticky;
  text-overflow: ellipsis;
  top: 0;
  user-select: none;
  white-space: nowrap;
  z-index: 1;
}

.mixin__name:active {
  background-color: var(--base02);
}

.mixin__name--no-props {
  color: var(--base09);
}

.mixin__name:before {
  color: var(--base10);
  content: "\25B6";
  font-size: 90%;
  left: 6px;
  margin-right: 5px;
  position: absolute;
  top: 5px;
  transform: rotate(0deg);
  transition: all 0.1s;
}

.mixin_props_no .mixin__name:before {
  opacity: 0;
}

.mixin_state_expanded .mixin__name:before {
  transform: rotate(90deg);
}

.mixin__properties {
  border-bottom: 1px solid var(--base03);
  font-family: var(--font-monospace);
  font-size: 12px;
  list-style-type: none;
  margin: 0;
  padding: 3px 0 5px;
}

.mixin__property {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 19px;
  overflow: hidden;
  padding-bottom: 1px;
  padding-top: 1px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;

  button {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }

  .pad {
    flex-shrink: 0;
    width: $mixin-left-padding;
  }

  .mixin__calc-btn svg {
    path,
    circle {
      fill: var(--spec07);
    }
  }

  .mixin__send-btn {
    flex-shrink: 0;
    opacity: 0;
    padding-right: 6px;
  }

  .mixin__cp-toggle {
    outline: none;
    width: $mixin-left-padding;

    svg {
      transform: rotate(-90deg) translateY(1px);
      transition: all 0.2s;
    }
  }

  .mixin__cp-toggle--expanded {
    svg {
      transform: rotate(0deg);
    }
  }
}

/* Errors */

.mixin__error {
  color: var(--spec01);
  margin-right: 3px;
  padding: 0 20px;
}

.mixin__name--errors {
  background-color: var(--base00);

  &:active {
    background-color: var(--base00);
  }

  button {
    margin-left: 10px;
  }
}

/* Buttons */

.mixin__property-overridden-by {
  display: none;
}

.mixin__property-name {
  color: var(--base14);
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mixin__property-value {
  flex: 1;
  min-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mixin__property-value-txt {
  background: var(--base01);
  border: 1px solid var(--base09);
  color: var(--base14);
  flex: 1;
  font-size: 12px;
  outline: none;
}

.mixin__property-value-separator {
  margin-right: 5px;
}

.mixin__property .type-function {
  color: var(--base08);
}

.mixin__property .type-object {
  color: var(--base11);
}

.mixin__property .type-ember-object,
.mixin__property .type-array {
  cursor: pointer;
}

.mixin__property .type-null,
.mixin__property .type-boolean {
  color: var(--spec03);
}

.mixin__property .type-descriptor {
  color: var(--spec02);
  cursor: pointer;
}

.mixin__property .type-service {
  color: var(--spec09);
}

.mixin__property_state_overridden {
  text-decoration: line-through;
}

.mixin__property:not(.mixin__property_state_overridden):hover {
  background-color: var(--base01);
}

.mixin__property_state_overridden:hover .mixin__property-overridden-by {
  background-color: var(--spec00);
  display: inline;
  position: absolute;
  right: 0;
  text-decoration: none;
}

.mixin__property:not(.mixin__property_state_overridden):hover .mixin__send-btn {
  opacity: 1;

  &:active {
    opacity: 0.5;
  }
}
