/**
 MIXIN
 =====
 A single mixin inside the object inspector
 It could be the object's own properties
 or a mixin the object extends
*/

$mixin-left-padding: 22px;

.mixin__name {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 4px 2px 4px $mixin-left-padding;
  border-bottom: 1px solid #cecece;
  background-color: #f5f5f5;
  cursor: default;
  user-select: none;
  color: #222;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
}

.mixin__name:active {
  background-color: #e7e7e7;
}

.mixin__name--no-props {
  color: #777;
}

  .mixin_props_no .mixin__name:before {
    opacity: 0;
  }

.mixin__name:before {
  position: absolute;
  top: 5px;
  left: 7px;
  content: "\25B6";
  color: #737373;
  margin-right: 5px;
  font-size: 90%;
}

  .mixin_state_expanded .mixin__name:before {
    content: "\25BC";
  }

.mixin__properties {
  list-style-type: none;
  border-bottom: 1px solid #cecece;
  margin: 0;
  padding: 3px 0 5px 0;
  font-size: 12px;
  font-family: 'SF Mono', Menlo, Monaco, monospace;
}

.mixin__property {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 19px;
}

/* Errors */

.mixin__error {
  margin-right: 3px;
  padding: 0px 20px;
  color: red;
}

.mixin__name--errors {
  background-color: #fff;

  &:active{
    background-color: #fff;
  }
}

/* Buttons */

.mixin__property {
  button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
  }

  .pad { width: $mixin-left-padding; }
  .mixin__calc-btn {
    width: $mixin-left-padding;

    img {
      max-height: 16px;
    }
  }

  .mixin__calc-btn--calculated {
    opacity: 0.4;
  }

  .mixin__send-btn {
    opacity: 0;
    padding-right: 6px;
  }
}

.mixin__property-overridden-by {
  display: none;
}

.mixin__property-name {
  color: #909;
}

.mixin__property-value {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 14px;
}

.mixin__property-value-txt {
  flex: 1;
  border: solid 1px #ccc;
  /*border: none;*/
  box-shadow: 2px 2px 2px #888;
  /*box-shadow: none;*/
  outline: none;
}


.mixin__property-value-separator {
  margin-right: 5px;
}

.mixin__property .type-function {
  color: #999;
}

.mixin__property .type-object {
  color: #999;
}

.mixin__property .type-ember-object,
.mixin__property .type-array {
  cursor: pointer;
}

.mixin__property-calculated-value {
  flex: 1;
  color: #999;
}

.mixin__property .type-null, .mixin__property .type-boolean {
  color: #009;
}

.mixin__property .type-descriptor {
  cursor: pointer;
  color: #900;
}



.mixin__property_state_overridden {
  text-decoration: line-through;
}


.mixin__property:not(.mixin__property_state_overridden):hover {
  background-color: #f3f3f3;
}


.mixin__property_state_overridden:hover .mixin__property-overridden-by {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  display: inline;
  text-decoration: none;
}

.mixin__property:not(.mixin__property_state_overridden):hover .mixin__send-btn {
  opacity: 1;

  &:active {
    opacity: 0.5;
  }
}

