/**
 Nav
 ===
 Navigation lists and links
*/

.nav__title h1 {
  color: var(--base11);
  height: 22px;
  line-height: 22px;
  margin: 2px 0 0;
  overflow: hidden;
  padding: 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* List */

.nav ul {
  clear: both;
  list-style-type: none;
  margin: 0;
  padding: 0;
  user-select: none;
}

.nav li {
  display: block;
}

.nav li svg {
  flex-shrink: 0;
  height: 22px;
  margin-right: 7px;
  width: 22px;
}

/* List anchor */

.nav li > a {
  cursor: default;
  display: block;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  padding: 0 5px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app.is-dragging .nav li > a {
  cursor: col-resize;
}

.nav li > a polygon,
.nav li > a path,
.nav li > a rect,
.nav li > a circle {
  fill: var(--base15);
}

.nav li > a:focus {
  outline: none;
}

.nav li > a.active {
  background: var(--focus);
  color: var(--focus-text);
}

.nav li > a.active polygon,
.nav li > a.active path,
.nav li > a.active rect,
.nav li > a.active circle {
  fill: var(--focus-text);
}

.app.inactive .nav li > a.active {
  background: var(--base06);
}

/* Custom navs */

.nav--main li > a {
  align-items: center;
  color: var(--base14);
  display: flex;
  height: 38px;
  line-height: 38px;
  padding-left: 12px;
}

.nav--main .pill {
  margin-left: 5px;
}

.nav.nav--main .nav__title h1 {
  padding-left: 14px;
}

/* Flip path on Promises icon */

.promises-icon-circle {
  transform: scaleX(-1);
  transform-origin: 18px;
}
