.object-trail {
  margin-left: 34px;
}

.object-inspector-toolbar.toolbar {
  border-bottom: 1px solid var(--base03);
  // override default .toolbar height
  // based on table view header height
  min-height: 30px;

  .toolbar-radio-first {
    margin-left: 7px;
  }
}

.mixin-property-dependency-list {
  margin-bottom: 5px;
  margin-top: 2px;
  padding-top: 2px;

  & > svg {
    height: 10px;
    left: 28px;
    position: absolute;
    top: -4px;
    width: 19px;
  }
}

.mixin-property-dependency-item {
  margin-bottom: 2px;
  margin-left: 55px;

  &:before {
    background-color: var(--base08);
    content: "";
    height: 8px;
    left: -9px;
    position: absolute;
    top: -5px;
    width: 1px;
  }

  svg {
    bottom: 2px;
    left: -13px;
    position: absolute;

    ellipse {
      fill: var(--base00);
      stroke: var(--base08);
    }
  }
}

.mixin-property-dependency-name.subkey {
  left: -11px;
  position: relative;
}

.mixin-property-dependency-item:first-child:before {
  display: none;
}

.mixin-property-icon-container {
  width: $mixin-left-padding;
}

.mixin-property-icon {
  height: 17px;
  line-height: 17px;
  width: 17px;
}

.mixin-property-icon--service {
  background-color: var(--spec08);

  &:before {
    content: "S";
  }
}

.mixin-property-icon--computed {
  background-color: var(--spec07);

  &:before {
    content: "C";
  }
}

.mixin-property-icon--property {
  background-color: var(--base06);

  &:before {
    content: "P";
  }
}

.mixin-property-icon--getter {
  background-color: var(--spec07);

  &:before {
    content: "G";
  }
}

.mixin-property-icon--function {
  background-color: var(--base08);

  &:before {
    content: "Æ’";
  }
}

.mixin-property-icon--tracked {
  background-color: var(--tracked-icon-bg);

  &:before {
    content: "T";
  }
}
