/**
 OBJECT-INSPECTOR
 ================
 The Object inspector
 at the far right of the screen
*/

.object-trail {
  margin-bottom: 4px;
  margin-left: 39px;
  word-break: break-all;
}

.mixin__property-icon--service {
  background-color: #76c76b;
  border-color: #569c69 !important;
  &::before {
    content: "S";
  }
}

.mixin__property-icon--computed {
  background-color: #e358b1;
  border-color: #740674  !important;
  &::before {
    content: "C";
  }
}

.mixin__property--group {
  font-weight: bold;
}

.mixin__property-dependency-list, .mixin__property-dependency-item {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.mixin__property-dependency-item {
  margin-left: 2.5em;
  position: relative;
}

.mixin__property-dependency-item--computed {
  color: var(--light-pink);
}

.mixin__property-name--computed {
  color: var(--pink);
}
.mixin__property-name--service {
  color: var(--green);
}

.mixin__property-dependency-item::before {
  content: "";
  display: block;
  background: url("data:image/svg+xml;utf8,<svg width='8' height='16' xmlns='http://www.w3.org/2000/svg'><g transform='translate(-14 -16)' stroke='#979797' fill='none' fill-rule='evenodd'><circle cx='18' cy='28' r='3'/><path d='M18 24.571V16.5'/></g></svg>") no-repeat;
  width: 8px;
  height: 18px;
  position: absolute;
  bottom: 0;
  left: -0.8em;
}

.mixin__property-dependency-item:first-child::before {
  background: url('data:image/svg+xml;utf8,<svg width="17" height="15" version="1" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd" stroke="#979797"><circle cx="13" cy="11" r="3"/><path d="M13 8c0-3-1-4-4-4H5C2 4 1 3 1 0"/></g></svg>') no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  bottom: 0;
  left: -1.6em;
}

.mixin__property-dependency-list {
  margin-top: 1px;
}

.mixin__property-dependency-item {
  margin-bottom: 1px;
  &:first-child {
    margin-top: 0px;
  }
}

.mixin__property-icon {
  width: 14px;
  margin-top: 1px;
  margin-left: 3px;
  margin-right: 3px;
  margin-bottom: 2px;
  height: 14px;
  border: 1px solid var(--black);
  border-radius: 3px;
  font-family: monospace;
  font-size: 14px;
  text-align: center;
  line-height: 1;
  color: var(--white);
  font-weight: bold;
  text-shadow: 0px 0px 2px var(--light-black);

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px var(--white) inset;
  }
  &:active {
    cursor: pointer;
    box-shadow: 0px 0px 1px 0px var(--light-black) inset;
  }
}