/**
 OBJECT-INSPECTOR
 ================
 The Object inspector
 at the far right of the screen
*/

.object-inspector-object-name {
  flex: auto;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.object-trail {
  margin-bottom: 4px;
  margin-left: 39px;
  word-break: break-all;
}

.object-inspector-toolbar.toolbar {
  border-bottom: 1px solid var(--base03);
  // override default .toolbar height
  // based on table view header height
  min-height: 30px;

  .toolbar__radio--first {
    margin-left: 7px;
  }
}

.object-inspector-custom-search {
  align-items: center;
  display: flex;
  position: relative;
}

.object-inspector-custom-search-input {
  margin-left: 2px;
  padding-right: 16px;
  width: 110px;
}

.object-inspector-custom-search-clear svg path {
  fill: var(--base11);
}

.mixin__property-dependency-list {
  margin-bottom: 5px;
  margin-top: 2px;
  padding-top: 2px;
  position: relative;

  & > svg {
    height: 10px;
    left: 28px;
    position: absolute;
    top: -4px;
    width: 19px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

.mixin__property-dependency-item {
  color: var(--base12);
  font-size: 1.1rem;
  margin-bottom: 2px;
  margin-left: 55px;
  position: relative;

  &:before {
    background-color: var(--base08);
    content: '';
    height: 8px;
    left: -9px;
    position: absolute;
    top: -5px;
    width: 1px;
  }

  svg {
    bottom: 2px;
    left: -13px;
    position: absolute;

    ellipse {
      fill: var(--base00);
      stroke: var(--base08);
    }
  }
}

.mixin__property-dependency-item:first-child:before {
  display: none;
}

.mixin__property-icon-container {
  flex-shrink: 0;
  width: $mixin-left-padding;
}

.mixin__property-icon {
  border-radius: 3px;
  color: var(--white);
  display: inline-block;
  font-family: var(--font-monospace);
  font-size: 1.3rem;
  height: 17px;
  line-height: 17px;
  text-align: center;
  -webkit-user-select: none;
  user-select: none;
  width: 17px;
}

.mixin__property-icon--service {
  background-color: var(--spec08);

  &:before {
    content: "S";
  }
}

.mixin__property-icon--computed {
  background-color: var(--spec07);

  &:before {
    content: "C";
  }
}

.mixin__property-icon--property {
  background-color: var(--base06);

  &:before {
    content: "P";
  }
}

.mixin__property-icon--getter {
  background-color: var(--spec07);

  &:before {
    content: "G";
  }
}

.mixin__property-icon--function {
  background-color: var(--base08);

  &:before {
    content: "Æ’";
  }
}

.mixin__property-icon--tracked {
  background-color: var(--tracked-icon-bg);

  &:before {
    content: "T";
  }
}
