/**
 PILL
 ====
*/

.pill {
  background: transparent;
  background: var(--base06);
  border-radius: 8px;
  cursor: default;
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  margin: 0 2px;
  padding: 2px 6px;
  position: relative;
  vertical-align: middle;
}

a.active > .pill {
  background: var(--base12);
}

.pill--not-clickable {
  cursor: inherit;
}

.pill--small {
  font-size: 10px;
  padding: 2px 4px;
}

.pill--bold {
  font-weight: bold;
}
