.route-cell-objects {
  .is-link {
    // inline-block prevents underline from displaying around white-space
    display: inline-block;
    margin-right: 2px;
  }

  .send-to-console {
    margin-right: 10px;
  }
}
