/**
 SEND-TO-CONSOLE
 ================
 Button to send an object
 to the console
*/

.send-to-console {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  outline: none;
  color: var(--base15);

  svg { vertical-align: middle; }
  .send-chevron { fill: var(--spec04); }
  .send-text    { fill: var(--base12); }
}

.send-to-console:hover {
  border-bottom-color: var(--spec04);
}

.send-to-console:active {
  transform: translateY(1px);
}

.send-to-console--chevron-only {
  svg {
    position: relative;
    top: -1px;
  }
}
