/**
 SIDEBAR TOGGLE
 ==============
 Button that expands or collapses sidebars
*/

.sidebar-toggle {
  position: absolute;
  top: 0;
  max-height: 27px;
}

  .toolbar__icon-button.sidebar-toggle {
    margin-right: 0;
    padding-right: 6px;
    background: #fff;
  }

.sidebar-toggle--right {
  right: 0;
}

.sidebar-toggle--left {
  left: -5px;
}

.sidebar-toggle--far-left {
  left: -30px;
}
