/**
 SIDEBAR TOGGLE
 ==============
 Button that expands or collapses sidebars
*/

.sidebar-toggle {
  max-height: 27px;
  position: absolute;
  top: 0;
}

.toolbar__icon-button.sidebar-toggle {
  background: var(--base00);
  margin-right: 0;
  padding-right: 6px;
}

.sidebar-toggle--right {
  right: 0;
}

.sidebar-toggle--left {
  left: -5px;
}

.sidebar-toggle--far-left {
  left: -30px;
}
