/**
 SPLIT
 =====
 Vertically split panels
*/

/* .split: The container for one or more panels */

.split {
  display: flex;
  flex: auto;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* .split__panel: Contains a body, and optional header and footer elements */

.split__panel {
  display: flex;
  flex-direction: column;
  flex: auto;
  position: relative;
}

.split__panel__hd,
.split__panel__bd,
.split__panel__ft {
  position: relative;
}

.split__panel__hd,
.split__panel__ft {
  display: flex;
  flex: none;
  flex-direction: column;
  box-sizing: border-box;
  border-color: var(--base32);
}

.split__panel__hd {
  min-height: 29px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  background: var(--base00);
}

.split__panel__bd {
  background: var(--base00);
  flex: auto;
  overflow: auto;
}

.split__panel__ft {
  justify-content: center;
  height: 23px;
  border-top-width: 1px;
  border-top-style: solid;
  background: var(--base01);
}

/* Fix visibility issue with phantomjs test runner
   https://github.com/emberjs/ember-inspector/pull/206#issuecomment-55292354 */

.split__panel,
.split__panel__bd {
  z-index: 1; /* Fixes bug where empty list-view appears over the top */
  height: 100%;
}

/* Custom panels */

.split__panel--sidebar-1 .split__panel__bd {
  background: var(--base01);
}

.split__panel--sidebar-1 > .split__panel__ft {
  text-align: center;
}

.split__panel--sidebar-2 .split__panel__bd {
  background: var(--base01);
}

/* Fix main list-view scrolling */
.split--main > .split__panel > .split__panel__bd {
  overflow-y: hidden;
}

.split--main > .split__panel--sidebar-1 > .split__panel__bd {
  overflow-y: auto;
}
