$toolbar-height: 28px;

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: $toolbar-height;
}

.toolbar > * {
  flex: none;
}


/**
 Toolbar Title
 =============
*/

.toolbar__title {
  flex: auto;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/**
 Toolbar Icon Buttons
 ====================
*/

.toolbar__icon-button {
  display: flex;
  align-items: center;
  height: $toolbar-height;
  margin-right: 2px;
  margin-left: 2px;
  padding: 0 2px;
  border: 0 transparent none;
  vertical-align: top;
  background: transparent;
}

/* if first item in toolbar, create extra clickable space */
.toolbar__icon-button:first-child {
  margin-left: 0;
  padding-left: 10px;
}

.toolbar__icon-button:focus {
  outline: none;
}

.toolbar__icon-button .svg-stroke {
  stroke: var(--base20);
}

.toolbar__icon-button .svg-fill {
  fill: var(--base20);
}

.toolbar__icon-button:hover .svg-stroke {
  stroke: var(--base24);
}

.toolbar__icon-button:hover .svg-fill {
  fill: var(--base24);
}

.toolbar__icon-button:active {
  transform: translate(1px, 1px);
}

/* active (highlighted) */
.toolbar__icon-button.active .svg-stroke {
  stroke: var(--spec07);
}

.toolbar__icon-button.active .svg-fill {
  fill: var(--spec07);
}

/* disabled */
.toolbar__icon-button.disabled {
  pointer-events: none;
}

.toolbar__icon-button.disabled:active {
  transform: none;
}

.toolbar__icon-button.disabled .svg-stroke {
  stroke: var(--base08);
}

.toolbar__icon-button.disabled .svg-fill {
  fill: var(--base08);
}



/**
 Toolbar Checkboxes
 ==================
*/

.toolbar__checkbox {
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 4px;
  margin-left: 4px;
}

.toolbar__checkbox label {
  display: block;
  height: 100%;
  line-height: $toolbar-height;
}

.toolbar__checkbox input {
  margin: 0;
}

/* if first item in toolbar, create extra clickable space */

.toolbar__checkbox:first-child {
  margin-left: 0;
}

.toolbar__checkbox:first-child label {
  margin-left: 0;
  padding-left: 8px;
}

/**
 Toolbar Radio Button Pills
 ==========================
*/

.toolbar__radio {
  font-size: 12px;
  line-height: 18px;
  position: relative;
  cursor: default;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0 6px;
  background: var(--base03);
  border: none;
  border-radius: 2px;
  vertical-align: middle;
  color: var(--base26);
}

.toolbar__radio:active,
.toolbar__radio:hover,
.toolbar__radio:focus,
.toolbar__radio.active {
  outline: none;
}

.toolbar__radio--first {
  margin-left: 4px;
}

.toolbar__radio--last {
  margin-right: 4px;
}

.toolbar__radio:hover {
  background: var(--base06);
}

.toolbar__radio:active {
  background: var(--base00);
}

.toolbar__radio.active {
  color: var(--base00);
  background: var(--spec11);
}

/**
 Toolbar Search
 ==============
*/

.toolbar__search {
  position: relative;
  margin-right: 4px;
  margin-left: 4px;
}

.toolbar__search input {
  box-sizing: border-box;
  width: 175px;
  height: $toolbar-height - 7;
  margin: 0;
  border: 1px solid var(--base08);
  border-radius: 3px;
  padding: 0 15px 0 4px;
  font-size: 12px;
  background-color: var(--base00);
  line-height: normal;
}

.toolbar__search input:focus {
  outline: none;
}

.toolbar__search--small input {
  width: 150px;
}

.toolbar__search-clear-button {
  position: absolute;
  top: 3px;
  right: 0;
  width: auto;
  height: auto;

  svg {
    path { fill: var(--base20); }
  }
}

/**
 Toolbar Divider
 ===============
*/

.toolbar .divider {
  display: inline-block;
  width: 1px;
  height: $toolbar-height - 10px;
  position: relative;
  margin-right: 4px;
  margin-left: 4px;
  background-color: var(--base08);
}
