$units: 0, 1, 2, 3, 4;

.relative { position: relative; }

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

.right-0 {
  right: 0;
}

.inline-block { display: inline-block; }
.flex { display: flex; }
.inline-flex { display: inline-flex; }

.flex-grow { flex-grow: 1; }
.flex-grow-0 { flex-grow: 0; }
.flex-shrink { flex-shrink: 1; }
.flex-shrink-0 { flex-shrink: 0; }

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }
.items-center { align-items: center; }
.self-stretch { align-self: stretch; }
.justify-start { justify-content: flex-start; }

.w-5 { width: var(--unit5); }
.w-6 { width: var(--unit6); }
.w-7 { width: var(--unit7); }
.w-8 { width: var(--unit8); }
.w-9 { width: var(--unit9); }
.w-10 { width: var(--unit10); }
.w-11 { width: var(--unit11); }
.w-12 { width: var(--unit12); }

.h-full { height: 100%; }

.border-0 { border-width: 0; }

@each $key in $units {
  .w-#{$key} { width: var(--unit#{$key}); }
  .h-#{$key} { height: var(--unit#{$key}); }

  .p-#{$key} { padding: var(--unit#{$key}); }
  .pt-#{$key} { padding-top: var(--unit#{$key}); }
  .pr-#{$key} { padding-right: var(--unit#{$key}); }
  .pb-#{$key} { padding-bottom: var(--unit#{$key}); }
  .pl-#{$key} { padding-left: var(--unit#{$key}); }

  .px-#{$key} {
    padding-left: var(--unit#{$key});
    padding-right: var(--unit#{$key});
  }

  .py-#{$key} {
    padding-bottom: var(--unit#{$key});
    padding-top: var(--unit#{$key});
  }

  .m-#{$key} { margin: var(--unit#{$key}); }
  .mt-#{$key} { margin-top: var(--unit#{$key}); }
  .mr-#{$key} { margin-right: var(--unit#{$key}); }
  .mb-#{$key} { margin-bottom: var(--unit#{$key}); }
  .ml-#{$key} { margin-left: var(--unit#{$key}); }

  .mx-#{$key} {
    margin-left: var(--unit#{$key});
    margin-right: var(--unit#{$key});
  }

  .my-#{$key} {
    margin-bottom: var(--unit#{$key});
    margin-top: var(--unit#{$key});
  }
}

.border-0 { border-width: 0; }

.rounded-none { border-radius: 0; }
.rounded-sm { border-radius: calc(var(--unit1) / 2); }
.rounded { border-radius: var(--unit1); }
.rounded-lg { border-radius: var(--unit2); }
.rounded-full { border-radius: 9999px; }

.font-bold { font-weight: bold; }
.font-mono { font-family: var(--font-monospace); }
.leading-none { line-height: 1; }
.no-underline { text-decoration: none; }
.underline { text-decoration: underline; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.whitespace-no-wrap { white-space: nowrap; }

.bg-transparent { background-color: var(--transparent); }

.fill-current { fill: currentColor; }

.cursor-default { cursor: default; }
.cursor-pointer { cursor: pointer; }

.z-10 { z-index: 10; }



/*
  Utilities not part of Tailwind:
*/

.text-inherit { color: inherit; }

.bg-base00 { background-color: var(--base00); }
.bg-base01 { background-color: var(--base01); }
.bg-base02 { background-color: var(--base02); }
.bg-spec00 { background-color: var(--spec00); }
