.warning {
  background: var(--spec00);
  color: var(--base13);
  display: flex;
  flex-direction: row;
  font-size: 11px;
  justify-content: flex-start;
  padding: 0;
}

.warning__image {
  display: inline;
  margin: 5px;
  max-height: 15px;
  max-width: 15px;
}

.warning__text {
  margin: 5px 0;
  padding: 0;
}

.warning__close {
  background: var(--spec00);
  border: hidden;
  color: var(--base13);
  cursor: pointer;
  font-weight: 200;
  margin: 5px 10px 5px auto;
  padding: 0;
  text-decoration: underline;
}
