.warning {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background: var(--spec00);
  font-size: 11px;
  padding: 0;
}

.warning__image {
  display: inline;
  max-width:15px;
  max-height:15px;
  margin: 5px;
}

.warning__text {
  margin: 5px 0;
  padding: 0;
}

.warning__close {
  font-weight: 200;
  color: var(--spec06);
  text-decoration: underline;
  background: var(--spec00);
  border: hidden;
  cursor: pointer;
  padding: 0;
  margin: 5px 10px 5px auto;
}
