.whats-new {
  padding: 30px 40px;

  h1 {
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  h2 {
    border-bottom: 1px solid var(--base02);
    font-size: 2.1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }

  ul {
    list-style-type: circle;
    padding: 0;
  }

  li,
  p {
    font-size: 1.4rem;
    line-height: 120%;
    margin-bottom: 0.5rem;
  }

  a {
    color: var(--spec04);
  }
}
