version: 2
updates:
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: weekly
  open-pull-requests-limit: 10
  labels:
  - dependencies
  - internal
  ignore:
  - dependency-name: ember-cli
    versions:
    - ">= 0"
