# unconventional js
/blueprints/*/files/

# compiled output
/declarations/
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/

# ember-inspector specific
/dist_prev/
/skeletons/
/ember_debug/vendor/startup-wrapper.js

# Safari build
/Ember Inspector/
