node_modules/
tmp/
.DS_Store
*.swp
dist_chrome/ember-extension.zip
dist_chrome/images/
dist_chrome/ember_debug/
dist_chrome/vendor/
dist_chrome/panes/ember_extension.css
dist_chrome/panes/ember_extension.js
dist_chrome/in-page-script.js

*.xpi
dist_firefox/data/images/
dist_firefox/data/ember_debug/
dist_firefox/data/vendor/
dist_firefox/data/panes/ember_extension.css
dist_firefox/data/panes/ember_extension.js
dist_firefox/data/in-page-script.js

dist_bookmarklet/images/
dist_bookmarklet/ember_debug/
dist_bookmarklet/vendor/
dist_bookmarklet/panes/ember_extension.css
dist_bookmarklet/panes/ember_extension.js

dist_websocket/images/
dist_websocket/ember_debug/
dist_websocket/vendor/
dist_websocket/panes/ember_extension.css
dist_websocket/panes/ember_extension.js

.mozilla-addon-sdk

aws.json
