# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

.DS_Store

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# dists

/dist_chrome/panes
/dist_chrome/ember_debug
/dist_chrome/in-page-script.js
/dist_chrome/ember-inspector.zip

/dist_firefox/data/panes
/dist_firefox/data/ember_debug
/dist_firefox/data/in-page-script.js

/dist_websocket

/dist_bookmarklet

/.mozilla-addon-sdk
