{{#if this.isObject}}
  <button
    class="value-token arg-value-token rounded"
    type="button"
    {{on "click" this.inspect}}
    data-test-arg-object
  >
    {{this.displayValue}}
  </button>
{{else}}
  <span data-test-arg-string class="value-token">
    {{this.displayValue}}
  </span>
{{/if}}
