<div class="toolbar">
  <Ui::ToolbarReloadButton @action={{@reload}} data-test-reload-container-btn />

  <Ui::ToolbarDivider />

  <Ui::SendToConsole @action={{@sendContainerToConsole}} />

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @clear={{fn (mut @searchValue)}}
    @value={{@searchValue}}
    data-test-container-instance-search
  />
</div>