<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{@reload}}
    data-test-reload-container-btn
  />

  <Ui::ToolbarDivider />

  <Ui::SendToConsole @action={{@sendContainerToConsole}} />
</div>
