<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{@reload}}
    data-test-reload-container-btn
  />

  <Ui::ToolbarDivider />

  <div class="toolbar-checkbox js-filter-hide-empty-model-types">
    <label>
      <Input
        data-test-options-hideEmptyModelTypes
        @type="checkbox"
        @checked={{@hideEmptyModelTypes}}
      />
      Hide Empty Model Types
    </label>
  </div>
  <div class="toolbar-checkbox js-filter-order-records-by-count">
    <label>
      <Input
        data-test-options-orderByRecordCount
        @type="checkbox"
        @checked={{@orderByRecordCount}}
      />
      Order Models By Record Count
    </label>
  </div>
  <button class="toolbar-radio js-filter" {{on "click" @getStore}} data-test-inspect-store type="button">
    Inspect Store
  </button>
</div>
