<div class="toolbar">
  <Ui::ToolbarClearButton
    @action={{@clearProfiles}}
  />

  {{#unless @showEmpty}}
    <Ui::ToolbarDivider />
    <Ui::ToolbarReloadButton
      @action={{@refreshPage}}
      class="js-toolbar-page-refresh-btn"
    />
  {{/unless}}

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{@searchValue}}
    class="js-render-profiles-search"
  />
</div>
