<div style={{this.labelStyle}}>
  <span
    title={{@route.value.name}}
    class={{concat
      "js-route-name"
      (if this.isCurrent " pill pill-blue pill-text font-bold")
    }}
  >
    {{@route.value.name}}
  </span>
</div>
