{
  "parser": "babel-eslint",
  "extends": "ember",
  "globals": {
    "define": true,
    "visit": true,
    "exists": true,
    "fillIn": true,
    "click": true,
    "keyEvent": true,
    "triggerEvent": true,
    "find": true,
    "findWithAssert": true,
    "wait": true,
    "andThen": true,
    "currentURL": true,
    "currentPath": true,
    "currentRouteName": true,
    "triggerPort": true
  },
  "rules": {
    "global-require": 0,
    "no-implicit-coercion": 0,
    "arrow-spacing": [ 2, { "before": true, "after": true } ],
    "prefer-reflect": 0,
    "prefer-const": 0,
    "no-restricted-syntax": [2, "WithStatement"],
    "object-curly-spacing": [ 2, "always" ],
    "no-console": 0,
    "no-multiple-empty-lines": 0,
    "max-len": [2, 250],
    "no-shadow": 0,
    "max-nested-callbacks": [2, 5],
    "guard-for-in": 0,
    "no-extend-native": 0,
    "no-unused-vars": 0,
    "no-param-reassign": 0,
    "block-scoped-var": 0,
    "no-ternary": 0,
    "no-else-return": 0,
    "space-in-parens": 0,
    "spaced-comment": 0,
    "no-undefined": 0,
    "brace-style": 0,
    "consistent-return": 0,
    "no-use-before-define": 0,
    "consistent-this": 0,
    "no-underscore-dangle": 0,
    "valid-jsdoc": 0,
    "quotes": 0,
    "one-var": 0,
    "newline-after-var": 0,
    "no-warning-comments": 0,
    "space-before-function-paren": 0
  }
}
