.ember-object {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}

body {
  font-family: "Helvetica Neue";
  color: #333;
}

body > .ember-view {
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.main-area {
  -webkit-flex-grow: 1;
}

.ember-object {
  width: 500px;
}

#reload-button {
  display: block;
  margin-bottom: 30px;
}

.ember-object h1, .ember-object > h2 {
  font-family: Menlo, Monaco, monospace;
  font-size: 15px;
  color: #639;
  font-weight: bold;
  text-shadow: 0px 1px 1px #fff;
  border-radius: 5px;
  margin-bottom: 0;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}

.ember-object h1 button, .ember-object h1 span {
  font-family: 'Lucida Grande';
  font-weight: normal;
  border: none;
  background: none;
  font-size: 16px;
  height: 24px;
  display: inline;
  margin: 0 10px 0 0;
  padding: 0 10px 0 0;
}

.ember-object h1 button {
  color: #009;
  border-right: 1px solid #009;
  cursor: pointer;
}

.ember-object h1 button:hover {
  color: #004;
}

.ember-object h1 button:active {
  color: #002;
}

.ember-object h1 span {
  color: #999;
  border-right: 1px solid #999;
}

.ember-object > h2 {
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 10px;
  padding-left: 77px;
  color: #669;
}

.ember-object h2.mixin {
  padding: 2px;
  background-color: #ddd;
  text-shadow: 0px 1px 1px #fff;
}

.ember-object h2.mixin.properties {
  cursor: pointer;
}

.ember-object h2.mixin:before {
  content: "\25B6";
  color: #555;
  margin-right: 4px;
  font-size: 80%;
}

.ember-object h2.mixin.no-properties:before {
  opacity: 0;
}

.ember-object .expanded h2.mixin:before {
  content: "\25BC";
}

.ember-object > div {
  border: 1px solid #ccc;
}

.ember-object > .ember-self {

}

.ember-object > .ember-mixin {

}

.ember-object > .ember-mixin h2 {
  color: #888;
}

.ember-object > .ember-mixin h2:before {
  color: #aaa;
}

.ember-object > .ember-class {

}

.ember-object ul {
  margin: 5px;
  list-style-type: none;
  padding: 0;
  font-size: 12px;
  font-family: Menlo, Monaco, monospace;
}

.ember-object li {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
}

.ember-object li button {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.ember-object li button img, .ember-object li span.pad {
  margin-right: 3px;
  width: 16px;
}

.ember-object li.overridden span {
  text-decoration: line-through;
}

.ember-object li:not(.overridden):hover {
  cursor: pointer;
  background-color: #ffe;
}

.ember-object li span.by {
  display: none;
}

.ember-object li.overridden:hover span.by {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  right: 0;
  display: inline;
  text-decoration: none;
}

.ember-object li span.property-name {
  color: #909;
}

.ember-object li span.property-value {
  margin-right: 5px;
}

.ember-object li span.type-function {
  color: #999;
}

.ember-object li span.type-object {
  color: #999;
}

.ember-object li span.calculated {
  color: #999;
}

.ember-object .type-null, .ember-object .type-boolean {
  color: #009;
}

.ember-object .type-descriptor {
  color: #900;
}

div.view-tree {
  font-family: Menlo, sans-serif;
  font-size: 12px;
}

ul.view-tree-node {
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 10px;
}

ul.view-tree-node li ul {
  margin-top: 5px;
}

ul.view-tree-node span.controller {
  color: #939;
  cursor: pointer;
}

ul.view-tree-node span.controller.is-pinned, ul.view-tree-node span.controller:hover {
  color: #606;
}

ul.view-tree-node span.controller:hover + span.template {
  display: inline;
}

ul.view-tree-node span.template {
  color: #999;
  display: none;
}

ul.view-tree-node p {
  margin: 0;
  padding: 0;
}
