<div class="data-error-page-container">
  {{#not-detected description="Promises" reasonsTitle="This usually happens because:"}}
  <li>You are using a version of Ember &lt; 1.3.</li>
  {{/not-detected}}
</div>
