@use "sass:meta";

:root {
  --toolbar-height: 28px;
}

.toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: var(--toolbar-height);
}

.toolbar > * {
  flex: none;
}

.toolbar .send-to-console {
  margin-left: 5px;
  margin-right: 5px;
}

.toolbar .goto-source {
  margin-left: 5px;
  margin-right: 5px;
}

@include meta.load-css("toolbar/checkbox");
@include meta.load-css("toolbar/divider");
@include meta.load-css("toolbar/icon-button");
@include meta.load-css("toolbar/radio");
@include meta.load-css("toolbar/search");
