{{input value=value type="text" placeholder="Search"}}

{{#if value}}
  <button
    class="toolbar__icon-button toolbar__search-clear-button js-search-field-clear-button"
    title="clear"
    {{action "clear"}}
  >
    {{svg-jar "clear" width="14px" height="14px"}}
  </button>
{{/if}}
