{{input value=searchValue type="text" placeholder="Search"}}
{{#if searchValue}}
  <button {{action "clearSearch"}} class="toolbar__icon-button toolbar__search-clear-button" title="clear">
    {{icon-input-clear}}
  </button>
{{/if}}