<div class="error-page">

  <div class="error-page__content">

    <div class="error-page__header">
      <div class="error-page__title">Ember application not detected!</div>
    </div>

    <div class="error-page__reasons">

      <div class="error-page__reasons-title">Here are some common reasons this happens:</div>

      <ul class="error-page__list">
        <li>This is not an Ember application.</li>
        <li>Your application is inside an iframe.</li>
        <li>You are using an old version of Ember (&lt; rc5).</li>
        <li>You are using the file:// protocol (instead of http://), in which case:
          <ul>
            <li>Visit the URL: chrome://extensions.</li>
            <li>Find the Ember Inspector.</li>
            <li>Make sure "Allow access to file URLs" is checked.</li>
          </ul>
        </li>
      </ul>

      If you're still having trouble, please file an issue on the Ember Inspector's
      <a href="https://github.com/tildeio/ember-extension" target="_blank">GitHub page.</a>
    </div>

  </div>

</div>
