{{#if emberApplication}}

  <div class="split-view split-view--v">
    <div class="split-view__panel">
      {{partial 'main'}}
    </div>

    {{#if inspectorExpanded}}
      {{drag-handle isDragging=isDragging positionRight=inspectorWidth}}

      {{#resizable-column width=inspectorWidth classNames="split-view__panel"}}
        <div class="split-view__panel__bd">
          {{render "mixinStack"}}
        </div>
      {{/resizable-column}}
    {{/if}}
  </div>

{{else}}
  {{#not-detected description="Ember application"}}
  <li>This is not an Ember application.</li>
  <li>You are using an old version of Ember (&lt; rc5).</li>
  {{#if isChrome}}
    <li>You are using the file:// protocol (instead of http://), in which case:
      <ul>
        <li>Visit the URL: chrome://extensions.</li>
        <li>Find the Ember Inspector.</li>
        <li>Make sure "Allow access to file URLs" is checked.</li>
      </ul>
    </li>
  {{/if}}
  {{/not-detected}}
{{/if}}
