<div class="list__content" style="height: 100%;">
  {{#vertical-collection displayedList estimateHeight=20 as |item i|}}
    <div onmouseenter={{action "previewLayer" item}}
      onmouseleave={{action "hidePreview"}}>
      {{component-tree-item
        item=item
        pinnedObjectId=pinnedObjectId
        toggleExpanded=(action "toggleExpanded" item)
        inspect=(action "inspect")
        scrollToElement=(action "scrollToElement")
        sendObjectToConsole=(action "sendObjectToConsole")}}
    </div>
  {{/vertical-collection}}
</div>