<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{action send "reload"}}
    class="js-reload-container-btn"
  />

  <Ui::ToolbarDivider />

  <Ui::SendToConsole @action={{action "sendContainerToConsole"}} />

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{this.searchValue}}
    class="js-container-instance-search"
  />
</div>
