<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{action send "reload"}}
    class="js-reload-container-btn"
  />

  <Ui::ToolbarDivider />

  {{ui/send-to-console action=(action "sendContainerToConsole")}}

  <Ui::ToolbarDivider />

  <div
    class="toolbar__search js-container-instance-search"
  >
    {{ui/toolbar-search-field value=searchValue}}
  </div>
</div>
