<div class="toolbar">
  {{reload-button action="reload" classNames="toolbar__icon-button js-reload-container-btn"}}

  <div class="divider" aria-hidden="true"></div>

  <div class="toolbar__search toolbar__search--small js-container-instance-search">
    {{search-field value=searchValue}}
  </div>
</div>
