{{#x-list}}
  {{#x-list-content contentHeight=application.contentHeight headerHeight=0}}
    {{#vertical-collection content=filtered defaultHeight=30 as |content|}}
      <div class="list__row js-instance-row" {{action "inspectInstance" content}}>
        <div class="list__cell list__cell_main {{if content.inspectable 'list__cell_clickable'}}">
          {{content.name}}
        </div>
      </div>
    {{/vertical-collection}}
  {{/x-list-content}}
{{/x-list}}
