<div class="toolbar">
  {{reload-button action="reload" classNames="toolbar__icon-button" dataLabel="reload-container-btn"}}

  <div class="toolbar__search toolbar__search--small" data-label="container-instance-search">
    {{input value=searchVal placeholder="Search"}}
  </div>
</div>
