{{#x-list class="js-deprecations"}}
  {{#x-list-content contentHeight=application.contentHeight headerHeight=0}}
    {{#each filtered as |content|}}
      {{deprecation-item
        model=content
        openResource=(action "openResource")
        traceSource=(action "traceSource")
        traceDeprecations=(action "traceDeprecations")
        class="deprecation-item"
      }}
    {{else}}
      <div class="notice js-page-refresh">
        <p>No deprecations have been detected. Try reloading to catch the deprecations that were logged before you opened the inspector.</p>
        <button class="js-page-refresh-btn" {{action "refreshPage"}}>Reload</button>
      </div>
    {{/each}}
  {{/x-list-content}}
{{/x-list}}
