<div class="toolbar">
  <Ui::ToolbarClearButton @action={{action send "clear"}} />

  <Ui::ToolbarDivider />

  <div class="toolbar__checkbox">
    <label title="Deprecation workflow">
      <Input
        @type="checkbox"
        @checked={{this.toggleDeprecationWorkflow}}
        {{on "change" this.changeDeprecationWorkflow}}
      />
      Toggle for Deprecation Workflow
    </label>
  </div>

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{this.searchValue}}
    data-test-deprecations-search
  />
</div>
