<div class="toolbar">
  {{clear-button action="clear" classNames="toolbar__icon-button" dataLabel="clear-deprecations-btn"}}

  <div class="toolbar__search" data-label="promise-search">
    {{input value=searchVal placeholder="Search"}}
  </div>
</div>
