<div class="list-view" data-label="deprecations">

  <div class="ember-list-container">
    {{#render-list}}
      {{#each filtered as |item|}}
        {{deprecation-item item=item
                           traceDeprecations="traceDeprecations"
                           traceSource="traceSource"
                           openResource="openResource"}}
      {{else}}
        <div class="notice" data-label="page-refresh">
          <p>No deprecations have been detected. Try reloading to catch the deprecations that were logged before you opened the inspector.</p>
          <button data-label="page-refresh-btn" {{action "refreshPage"}}>Reload</button>
        </div>
      {{/each}}
    {{/render-list}}
  </div>
</div>
