<div class="toolbar">
  {{clear-button
    action="clear"
    classNames="toolbar__icon-button js-clear-deprecations-btn"
  }}

  <div class="divider" aria-hidden="true"></div>

  <div class="toolbar__search js-deprecations-search">
    {{ui/search-field value=searchValue}}
  </div>
</div>
