<div class="toolbar">
  {{clear-button action="clear" classNames="toolbar__icon-button js-clear-deprecations-btn"}}

  <div class="toolbar__search js-deprecations-search">
    {{input value=searchVal placeholder="Search"}}
    {{#if searchVal}}
      <button {{action "clearSearchVal"}} class="toolbar__icon-button toolbar__search-clear-button" title="clear">
        {{icon-input-clear}}
      </button>
    {{/if}}
  </div>
</div>
