<div class="dropdown">
  {{view 'select' content=detectedApplications value=selectedApp optionValuePath="content.val" optionLabelPath="content.name" class="dropdown__select"}}
  <div class="dropdown__arrow"></div>
</div>
