<div class="split">
  {{#draggable-column
    classes="split__panel split__panel--sidebar-2 nav"
    setIsDragging=(action "setIsDragging" target=this.application)
    width=180
  }}
    <div class="split__panel__bd">
      <ul>
        <li>
          <LinkTo @route="libraries" class="nav__item">
            <span class="nav__item-label">Libraries</span>
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="whats-new" class="nav__item">
            <span class="nav__item-label">What's New</span>
          </LinkTo>
        </li>
      </ul>
    </div>
  {{/draggable-column}}

  <div class="split__panel">
    <div class="split__panel__bd">
      {{outlet}}
    </div>
  </div>
</div>
