<div class="split">
  {{#draggable-column
    classes="split__panel split__panel--sidebar-2 nav"
    setIsDragging=(action "setIsDragging" target=application)
    width=180
  }}
    <div class="split__panel__bd">
      <ul>
        <li>{{#link-to "libraries"}}Libraries{{/link-to}}</li>
        <li>{{#link-to "whats-new"}}What's New{{/link-to}}</li>
      </ul>
    </div>
  {{/draggable-column}}

  <div class="split__panel">
    <div class="split__panel__bd">
      {{outlet}}
    </div>
  </div>
</div>
