<div class="split">
  <Ui::DraggableColumn
    @classes="split-panel split-panel-sidebar-2 nav"
    @side="left"
    @width={{this.navWidth}}
  >
    <div class="split-panel-bd">
      <ul>
        <li>
          <LinkTo @route="libraries" class="nav-item">
            <span class="nav-item-label">Libraries</span>
          </LinkTo>
        </li>
         <li>
          <LinkTo @route="app-config" class="nav-item">
            <span class="nav-item-label">App Config</span>
          </LinkTo>
        </li>
        <li>
          <LinkTo @route="whats-new" class="nav-item">
            <span class="nav-item-label">What's New</span>
          </LinkTo>
        </li>
      </ul>
    </div>
  </Ui::DraggableColumn>

  <div class="split-panel">
    <div class="split-panel-bd">
      {{outlet}}
    </div>
  </div>
</div>
