{{#x-list}}
  <div class="list__row list__row_header">
    <div class="list__cell">
      Library
    </div>
    <div class="list__cell">
      Version
    </div>
    <!-- Account for scrollbar width :'(  -->
    <div class="list__cell list__cell_spacer"></div>
  </div>

  {{#x-list-content contentHeight=application.contentHeight}}
    {{#each model as |library|}}
      <div class="list__row js-library-row">
        <div class="list__cell list__cell_main list__cell_size_large">
          <span class="js-lib-name">{{library.name}}</span>
        </div>
        <div class="list__cell">
          <span class="js-lib-version">{{library.version}}</span>
        </div>
      </div>
    {{/each}}
  {{/x-list-content}}
{{/x-list}}
