{{#with view.content as |content|}}
  <div class="list-tree__item row" data-label="instance-row" {{action "inspectInstance" content}}>
    <div class="cell {{if content.inspectable 'cell_clickable'}}">
      {{content.name}}
    </div>
  </div>
{{/with}}
