<div class="split__parent">
  <div class="list-view list-view_compact">
    <div class="list-view__header row">
      <div class="cell cell_type_header">
        Model Type
      </div>
      {{#unless collapsed}}
      <div class="cell cell_type_header">
        # Records
      </div>
      {{/unless}}
      <!-- Account for scrollbar width :'(  -->
      <div class="cell cell_type_header spacer"></div>
    </div>

    <div class="list-view__list-container">
      {{view "modelTypeList" content=this}}
    </div>
  </div>
</div>
<div class="split__child">{{outlet}}</div>
