<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{action send "reload"}}
    data-test-reload-container-btn
  />

  <Ui::ToolbarDivider />

  <div class="toolbar__checkbox js-filter-hide-empty-model-types">
    <label>
      <Input
        data-test-options-hideEmptyModelTypes
        @type="checkbox"
        @checked={{this.hideEmptyModelTypes}}
      />
      Hide Empty Model Types
    </label>
  </div>
  <div class="toolbar__checkbox js-filter-order-records-by-count">
    <label>
      <Input
        data-test-options-orderByRecordCount
        @type="checkbox"
        @checked={{this.orderByRecordCount}}
      />
      Order Models By Record Count
    </label>
  </div>
  <button class="toolbar__radio js-filter" {{on "click" this.getStore}} data-test-inspect-store type="button">
    Inspect Store
  </button>
</div>
