<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{action send "reload"}}
    data-test-reload-container-btn
  />

  <Ui::ToolbarDivider />

  <div class="toolbar__checkbox js-filter-hide-empty-model-types">
    <label for="options-hideEmptyModelTypes">
      <Input
        @type="checkbox"
        @checked={{this.hideEmptyModelTypes}}
        @id="options-hideEmptyModelTypes"
      />
      Hide Empty Model Types
    </label>
  </div>
  <div class="toolbar__checkbox js-filter-order-records-by-count">
    <label for="options-orderByRecordCount">
      <Input
        @type="checkbox"
        @checked={{this.orderByRecordCount}}
        @id="options-orderByRecordCount"
      />
      Order Models By Record Count
    </label>
  </div>
  <button class="toolbar__radio js-filter" {{on "click" this.getStore}} data-test-inspect-store>
    Inspect Store
  </button>
</div>
