<div class="split-view split-view--v">
  <div class="split-view__panel split-view__panel--nav nav">
    <div class="split-view__panel__bd">
      <h3>Model Types</h3>
      <ul>
        {{#each}}
          <li data-label="model-type">
            {{#link-to "records" this}}
              <span data-label="model-type-name">{{name}}</span>
              (<span data-label="model-type-count">{{count}}</span>)
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="split-view__panel">
    <div class="split-view__panel__bd">
      {{outlet}}
    </div>
  </div>
</div>
