<div class="page-refresh" data-label="page-refresh">

  <div class="page-refresh__content">

    <div class="page-refresh__title" data-label="page-refresh-title">
      You need to reload the page to see promises created before you opened the inspector.
    </div>
    <button class="page-refresh__btn" data-label="page-refresh-btn" {{action "refreshPage"}}>Reload</button>
  </div>
</div>
