<div class="notice" data-label="page-refresh">

  <div class="notice__content">

    <div class="notice__title" data-label="page-refresh-title">
      You need to reload the page to see promises created before you opened the inspector.
    </div>
    <button class="notice__btn" data-label="page-refresh-btn" {{action "refreshPage"}}>Reload</button>
  </div>
</div>
