{{#if shouldRefresh}}
  {{partial "page_refresh"}}
{{else}}
<div class="list-view js-promise-tree">
  <div class="list-view__header row">
    <div class="cell cell_type_header">
      Label
    </div>
    <div class="cell cell_size_medium cell_type_header">
      State
    </div>
    <div class="cell cell_size_large cell_type_header">
      Fulfillment / Rejection value
    </div>
    <div class="cell cell_size_medium cell_value_numeric cell_type_header">
      Time to settle
    </div>
    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="list-view__list-container">
    {{view "promiseList" content=items}}
  </div>
</div>
{{/if}}
