{{#with view.content as |content|}}
  {{#record-item model=content modelTypeColumns=view.columns inspect="inspectModel" as |item|}}
    {{#each column in item.columns}}
      <div class="cell cell_clickable" data-label="record-column" style="{{item.style}}">
        {{column.value}}
      </div>
    {{/each}}
  {{/record-item}}
{{/with}}
