<div class="list-view">
  <div class="list-view__header row">
    {{#each columns as |column|}}
      <div class="cell cell_type_header" data-label="column-title">{{column.desc}}</div>
    {{/each}}

    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="list-view__list-container">
    {{#list-view items=filtered as |item|}}
      {{#record-item model=item modelTypeColumns=columns inspect="inspectModel" as |recordItem|}}
        {{#each column in recordItem.columns}}
          <div class="cell cell_clickable" data-label="record-column" style={{recordItem.style}}>
            {{column.value}}
          </div>
        {{/each}}
      {{/record-item}}
    {{/list-view}}
  </div>
</div>
