<div class="list-view">
  <div class="list-view__header row">
    {{#each columns}}
      <div class="cell cell_type_header" data-label="column-title">{{desc}}</div>
    {{/each}}

    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="list-view__list-container">
    {{view "record-list" content=filtered columns=columns}}
  </div>
</div>
