{{#x-list}}
  <div class="list__row list__row_header">
    {{#each columns as |column|}}
      <div class="list__cell js-column-title">{{column.desc}}</div>
    {{/each}}

    <!-- Account for scrollbar width :'(  -->
    <div class="list__cell list__cell_spacer"></div>
  </div>

  {{#x-list-content contentHeight=application.contentHeight}}
    {{#vertical-collection content=filtered defaultHeight=30 as |content|}}
      {{record-item
        model=content
        modelTypeColumns=columns
        inspect="inspectModel"
        class="js-record-item"
      }}
    {{/vertical-collection}}
  {{/x-list-content}}
{{/x-list}}
