<div class="toolbar">
  {{clear-button action="clearProfiles" classNames="toolbar__icon-button"}}
  <div class="toolbar__search" data-label="render-profiles-search">
    {{input value=searchField placeholder="Search"}}
  </div>
  <div class="filter-bar__pills"></div>
</div>