<div class="toolbar">
  <Ui::ToolbarClearButton
    @action={{action send "clearProfiles"}}
  />

  {{#unless showEmpty}}
    <Ui::ToolbarDivider />
    <Ui::ToolbarReloadButton
      @action={{action send "refreshPage"}}
      class="js-toolbar-page-refresh-btn"
    />
  {{/unless}}

  <Ui::ToolbarDivider />

  <div class="toolbar__search js-render-profiles-search">
    {{ui/toolbar-search-field value=searchValue}}
  </div>
</div>
