{{#unless showEmpty}}
<div class="list-view" data-label="render-tree">
  <div class="list-view__header row">
    <div class="cell cell_type_header">
      Name
    </div>
    <div class="cell cell_type_header cell_value_numeric">
      Timestamp
    </div>
    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="ember-list-container">
    {{#view "render-list"}}
      {{#each filtered as |item|}}
        {{render "render-item" item}}
      {{/each}}
    {{/view}}
  </div>
</div>
{{else}}
  <div class="notice" data-label="render-tree-empty">
    <p>No rendering metrics have been collected. Try reloading or navigating around your application.</p>
    <p><strong>Note:</strong> Very fast rendering times (&lt;1ms) are excluded.</p>
    <button data-label="toolbar-page-refresh-btn" {{action "refreshPage"}}>Reload</button>

  </div>
{{/unless}}
