<div class="toolbar">
  {{clear-button
    action="clearProfiles"
    classNames="toolbar__icon-button"
  }}

  {{#unless showEmpty}}
    <div
      class="divider"
      aria-hidden="true"
    >
    </div>
    {{reload-button
      action="refreshPage"
      classNames="toolbar__icon-button js-toolbar-page-refresh-btn"
    }}
  {{/unless}}

  <div
    class="divider"
    aria-hidden="true"
  >
  </div>

  <div class="toolbar__search js-render-profiles-search">
    {{ui/search-field value=searchValue}}
  </div>
</div>
