<div class="toolbar">
  <div class="toolbar__checkbox js-filter-hide-routes">
    <label>
      <Input
        @type="checkbox"
        @checked={{this.options.hideRoutes}}
      />
      Current Route only
    </label>
  </div>

  <div class="toolbar__checkbox js-filter-hide-substates">
    <label title="Hide loading and error substates">
      <Input
        @type="checkbox"
        @checked={{this.options.hideSubstates}}
      />
      Hide Substates
    </label>
  </div>

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{this.searchValue}}
    data-test-filter-views
  />
</div>
