<div class="list-view">
  <div class="list-view__header row">
    <div class="cell cell_type_header">
      Route Name
    </div>
    <div class="cell cell_type_header">
      Route
    </div>
    <div class="cell cell_type_header">
      Controller
    </div>
    <div class="cell cell_type_header">
      Template
    </div>
    <div class="cell cell_type_header cell_size_large">
      URL
    </div>
    <!-- Account for scrollbar width :'(  -->
    <div class="cell cell_type_header spacer"></div>
  </div>

  <div class="list-view__list-container">
    {{view "routeList" content=this}}
  </div>

  <div class="list-view__filter">
    <div class="filter-bar">
      <div class="filter-bar__checkbox" data-label="filter-hide-routes">
        {{input type="checkbox" checked=options.hideRoutes id="options-hideRoutes"}} <label for="options-hideRoutes">Current Route only</label>
      </div>
    </div>
  </div>
</div>
