<div class="toolbar">
  <div class="toolbar__checkbox js-filter-hide-routes">
    <label for="options-hideRoutes">
      {{input
        type="checkbox"
        checked=options.hideRoutes
        id="options-hideRoutes"
      }}
      Current Route only
    </label>
  </div>

  <div class="toolbar__checkbox js-filter-hide-substates">
    <label for="options-hideSubstates" title="Hide loading and error substates">
      {{input
        type="checkbox"
        checked=options.hideSubstates
        id="options-hideSubstates"
      }}
      Hide Substates
    </label>
  </div>

  <div class="divider"></div>

  <div class="toolbar__search js-filter-views">
    {{ui/search-field value=searchValue}}
  </div>
</div>
