<div class="table-tree">
  <div class="table-tree__table-container">
    <table cellspacing="0" border-collapse="collapse">
      <thead>
        <tr>
          <th>
            <div class="table-tree__th-inner">Route Name</div>
          </th>
          <th>
            <div class="table-tree__th-inner">Route</div>
          </th>
          <th>
            <div class="table-tree__th-inner">Controller</div>
          </th>
          <th>
            <div class="table-tree__th-inner">Template</div>
          </th>
          <th>
            <div class="table-tree__th-inner">URL</div>
          </th>
        </tr>
      </thead>
      <tbody>
        {{partial "route_node"}}
      </tbody>
    </table>
  </div>
</div>
