<ul class='view-tree-node' data-label="tree-node">
  {{#each node in node.children}}
    <li data-label="tree-view">
      <p>
        {{#view EmberExtension.TreeNodeControllerView nodeBinding="node" label="tree-view-controller"}}{{node.value.name}}{{/view}}
        <span class='template' data-label="tree-view-template">template:{{node.value.template}}</span>
      </p>
      {{#if node.children.length}}
        {{view EmberExtension.TreeNodeView}}
      {{/if}}
    </li>
  {{/each}}
</ul>
