{{#x-list}}
  <div class="list__row list__row_header">
    <div class="list__cell">
      Name
    </div>
    <div class="list__cell">
      Template
    </div>
    <div class="list__cell">
      Model
    </div>
    <div class="list__cell">
      Controller
    </div>
    <div class="list__cell">
      View / Component
    </div>
    <div class="list__cell list__cell_size_small list__cell_value_numeric">
      Duration
    </div>
    <!-- Account for scrollbar width :'(  -->
    <div class="list__cell list__cell_spacer"></div>
  </div>

  {{#x-list-content contentHeight=application.contentHeight}}
    {{#vertical-collection content=model defaultHeight=30 as |content|}}
      {{view-item
        model=content
        inspect=(action "inspect")
        inspectElement=(action "inspectElement")
        previewLayer=(action "previewLayer")
        hidePreview=(action "hidePreview")
        sendModelToConsole=(action "sendModelToConsole")
        sendObjectToConsole=(action "sendObjectToConsole")
        class="js-view-item"
      }}
    {{/vertical-collection}}
  {{/x-list-content}}
{{/x-list}}
