<div class="whats-new">
  <h1>
    What's New in Ember Inspector
  </h1>
  {{#if this.error}}
    <p>
      Changelog could not be loaded
    </p>
  {{else}}
    <Ui::OpenLinksInNewWindow>
      <MarkdownToHtml @markdown={{this.model}} />
    </Ui::OpenLinksInNewWindow>
  {{/if}}
</div>