<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{action send "reload"}}
    class="js-reload-container-btn"
  />

  <Ui::ToolbarDivider />

  {{ui/send-to-console
    action=(action "sendContainerToConsole")
  }}
</div>
