<div class="toolbar">
  <Ui::ToolbarReloadButton
    @action={{action send "reload"}}
    class="js-reload-container-btn"
  />

  <Ui::ToolbarDivider />

  <Ui::SendToConsole @action={{this.sendContainerToConsole}} />
</div>
