<div class="mixin mixin-props-no" data-test-object-inspector-errors>
  <h2 class="mixin-name mixin-name--errors bg-base00">
    Errors
    <button
      data-test-send-errors-to-console
      class="send-to-console send-to-console-chevron-only ml-1"
      type="button"
      {{on "click" @traceErrors}}
    >
      {{svg-jar "send-with-chevron" width="6px" height="9px"}}
      Trace in the Console
    </button>
  </h2>
  <div class="mixin-properties m-0 text-base font-mono">
    {{#each @errors as |error|}}
      <div class="py-0 px-5 mr-1 text-spec01" data-test-object-inspector-error>
        Error while computing: {{error.property}}
      </div>
    {{/each}}
  </div>
</div>
